<div class="container">
  <div class="row page-title-container apply-header">
    <div class="col-md-5 col-md-offset-6">
      <div class="page-header-title">
        ADMISSIONS
      </div>
      <div class="page-header-subtitle">
        Successul candidates will demonstrate outstanding competences and leadership potential, along with intellectual curiosity and a strong international outlook.
      </div>
    </div>
  </div>
</div>