<div class="container">
  <div class="row">
  <div class="container">
    <div class="row articles-line"></div>
  </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row articles-title-container">
          <div class="col-md-4">
            <div class="articles-title">
              NOSSOS ARTIGOS
            </div>
            <div class="articles-subtitle">
              CHECK OUT OUR TIPS FOR A SMARTER LIVING
            </div>
          </div>
          <div class="col-md-3 col-md-offset-5 articles-selector-container">
            <ul class="nav" id="article-selector-title">
              <li class="dropdown articles-selector-container-item">
                <a class="dropdown-toggle articles-selector" data-toggle="dropdown" href="#">
                  CATEGORIAS
                </a>
                <ul class="dropdown-menu" id="articles-selector-items">
                  <li id="articles-selector-leadership">
                    <a href="#">LIDERANÇA</a>
                  </li>
                  <li id="articles-selector-focus">
                    <a href="#">FOCO</a>
                  </li>
                  <li id="articles-selector-high-performance">
                    <a href="#">ALTA PRODUTIVIDADE</a>
                  </li>
                  <li id="articles-selector-quality-of-life">
                    <a href="#">QUALIDADE DE VIDA</a>
                  </li>
                  <li id="articles-selector-human-relationships">
                    <a href="#">RELAÇOES HUMANAS</a>
                  </li>
                </ul>
              </li>            
            </ul>
          </div>
        </div>
        
        <% @articles.count.times do |article_number| %>
          <% if article_number % @articles_columns %>
            <div class="row articles-container">
          <% end %>
          <div class="col-md-4">
            <%= render 'single_article', article: @articles[article_number] %>
          </div>
          <% if article_number % @articles_columns %>
            </div>
          <% end %>
        <% end %>
    
        <div class="row more-articles">
          <a href="#">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </a>
        </div>
    </div>
  </div>
</div>