<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div class="row">
      <div class="container">
        <div class="row" style="position:relative">
          <div class="col-md-12">
            <div class="container">
              <div class="row page-title">
                CONTACT US
              </div>
              <div class="row page-main-body">
                Our team is happy to answer your questions regarding our programs and our admissions process and assist you with your application.
              </div>
            </div>
          </div>
        </div>
        <div class="row contact-form">
          <div class="col-md-7">
            <div class="container">
              <div class="row contact-form">
                <%= render 'contact_form' %>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="container contact-container">
              <div class="row contact-sidebar-title">
                <h1>OUR TEAM</h1>
              </div>
              <hr />
              <div class="row contact-sidebar-body">
                <h2>BRASIL</h2>
                Sao Paulo <br/>
                Rio de Janeiro <br/>
                Brasilia<br/>
                Porto Alegre<br/>
                <h2>ARGENTINA</h2>
                Buenos Aires
                <h2>FRANCE</h2>
                Paris
                <h2>UNITED STATES</h2>
                New York
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>