<div class="container padding-topbottom-50">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row" style="position:relative">
          <div class="col-md-12">
              <div class="page-title">
                <%= t('static_pages.contact.title') %>
              </div>
              <div class="page-main-body">
                <%= t('static_pages.contact.message') %>
              </div>
          </div>
        </div>
        <div class="row contact-form">
          <div class="col-md-7">
              <div class="contact-form">
                <%= render 'contact_form' %>
              </div>
          </div>
          <div class="col-md-5">
            <div class="contact-container">
              <div class="contact-sidebar-title">
                <h1></h1>
              </div>
              <hr />
              <div class="row contact-sidebar-body">
              <%= t('static_pages.contact.countries_html') %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>