<div class="container individual-consultory-container">
  <div class="row page-title-container derose-method-header">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="page-title">
        O Método DeR<span class="navbar-title-smallcaps">OSE</span>
      </div>
      <div class="page-subtitle">
        Texto de apresentaçao com alguns puntos importantes
      </div>
    </div>
  </div>
</div>