<div class="container individual-consultory-container padding-topbottom-50 more-bottom-padding-100">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="container">
              <div class="row page-title">
                O QUE É O MÉTODO DeROSE
              </div>
              <div class="row page-main-body">
                <p>O Método DeROSE é uma urdidura de <b>técnicas</b> e <b>conceitos</b>, edificando uma proposta de reeducação comportamental em prol da boa qualidade de vida, boas maneiras, boas relações humanas, boa cultura, boa alimentação, boa forma, bom ambiente e bons ideais.</p>
                <p>Algumas das nossas ferramentas técnicas são a reeducação respiratória, a administração do stress, as técnicas orgânicas que promovem a vitalidade e a energia, procedimentos para o aprimoramento da descontração emocional e da concentração mental.</p>
                
                <h5>O MÉTODO DEROSE FOR LEADERS</h5>
                O Método DeROSE é de grande valia para os líderes que buscam ferramentas eficientes para se aprimorar, aumentando o seu desempenho pessoal e profissional.
                Montamos com cada líder um programa sob medida incluido aulas de <b>Personal Teaching</b>, <b>Treinamentos</b> e <b>Consultorias</b>. Definimos juntos os seus objetivos e ensinamos as ferramentas mais adequadas para que ele possa progredir de forma efetiva e duradoura.

                <h5>O QUE TORNA O NOSSO MÉTODO TÃO ÚNICO</h5>
                <p>Os líderes reconhecem o nosso grande difrencial: um <b><i>know-how</i> incomparavel para melhorar o ser humano</b>. Os resultados que conseguimos no aumento da performance e da qualidade de vida são muito expresivos devido a qualidade superlativa das ferramentas que ensinamos. Bastam disciplina e constância na aplicação das nossas técnicas e dos nossos conceitos para colher frutos positvos na vida profissional e pessoal.</p>

                <h5>UMA PROPOSTA DE BOAS COISAS:</h5>
                <%= link_to "/assets/derose_method_characteristics.jpg", class: 'image-link'  do %>
                  <%= image_tag 'derose_method_characteristics.jpg' %>
                <% end %>

              </div>
            </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <hr/>
            <div class="individual-sidebar-container">
              <div class="row individual-sidebar-title">
                <h1>VIDEO: INSPIRE SUA ESSÊNCIA</h1>
                <%= raw youtube_embed "https://www.youtube.com/watch?v=t2KhPPyqhm8","384px", "226px" %>
              </div>
            </div>
            <%= render 'individual_sidebar_nestle' %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>