<div class="container">
  <div class="row page-title-container derose-method-header">
    <div class="col-md-4 col-md-offset-1">
      <div class="page-header-title">
        O Método DeR<span class="navbar-title-smallcaps">OSE</span>
      </div>
      <div id="derose-method-subtitle" class="page-header-subtitle">
        | Alta Produtividade | Respiração | Foco | Relaçoēs Interpessoais |  Performance | Administração dos conflitos | Gestão do stress |  Força | Resultados |
      </div>
    </div>
  </div>
</div>