<div class="container page-footer">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="container">
        <div class="row page-footer-info-container">
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-6 page-footer-image-container left">
                  <%= image_tag 'static_page_footer_mdr_individual.jpg'%>
                </div>
                <div class="col-md-6 page-footer-text-container">
                  <h2>PROGRAMAS PARA INDIVIDUOS</h2>
                  <p>Um time forte é formado por indivíduos focados e bem-preparados; os programas para empresas buscam fortalecer não só cada um dos líderes de maneira completa, mas também integrá-los como um time.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-6 page-footer-image-container center">
                  <%= image_tag 'static_page_footer_enterprise_program.jpg'%>
                </div>
                <div class="col-md-6 page-footer-text-container">
                  <h2>PROGRAMAS PARA EMPRESAS</h2>
                  <p>Para desenvolver o potencial das pessoas que você gerencia, é importante que você também esteja em constante aprimoramento; trabalhe sua própria Alta Produtividade com nossos programas para indivíduos.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-6 page-footer-image-container right">
                  <%= image_tag 'static_page_footer_mdr_in_enterprise.jpg'%>
                </div>
                <div class="col-md-6 page-footer-text-container">
                  <h2>M<span class="navbar-title-smallcaps">ÉTODO</span> DeR<span class="navbar-title-smallcaps">OSE</span> NAS EMPRESAS</h2>
                  <p>As técnicas e os conceitos do Método DeROSE não trazem apenas resultados na qualidade de vida  – eles também são capazes de gerar riqueza para empresas!</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>