<div class="container">
  <div class="row page-title-container derose-method-header">
    <div class="col-md-3 col-md-offset-1">
      <div class="page-header-title">
        <%= t('static_pages.derose_method.header.title_html') %>
      </div>
      <div id="derose-method-subtitle" class="page-header-subtitle">
        <%= t('static_pages.derose_method.header.subtitle') %>
      </div>
    </div>
  </div>
</div>