<div class="container page-footer">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="container">
        <div class="row page-footer-info-container">
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <%= image_tag 'edgardo.jpg'%>
                </div>
                <div class="col-md-6 page-footer-text-container">
                  <h2>DAILY TRAINING PROGRAM</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-6 page-footer-image-container">
                  <%= image_tag 'creative.jpg'%>
                </div>
                <div class="col-md-6 page-footer-text-container">
                  <h2>INSPIRATION</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-6 page-footer-image-container">
                  <%= image_tag 'organization.jpg'%>
                </div>
                <div class="col-md-6 page-footer-text-container">
                  <h2>STRATEGY</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>