<div id="individual-header-container" class="container individual-consultory-container page-title-container individual-with-small-group-teaching-background-header">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tab-content">
        <div id="small-group-teaching-header" class="tab-pane active small-group-teaching page-header-title">
           SMALL GROUP TEACHING
         </div>
         <div class="tab-pane active individual-consultory-title-subtitle small-group-teaching">
           1h | 2 vezes por semana
         </div>
         <div class="tab-pane active page-header-subtitle small-group-teaching">
            <p>Desenvolver Alta Performance profissional e pessoal</p>
            <p>Melhorar a Qualidade de Vida</p>
            <p>Reforçar os vinculos entre os líderes</p>
         </div>
         <div id="small-group-training-header" class="tab-pane small-group-training page-header-title">
           SMALL GROUP TRAINING
         </div>
         <div class="tab-pane individual-consultory-title-subtitle small-group-training">
           15 min por día
         </div>
         <div class="tab-pane page-header-subtitle small-group-training">
            <p>Favorecer a Alta Produtividade</p>
            <p>Aprimorar a Boa Forma</p>
            <p>Desenvolver o Bem Estar</p>
         </div>
         <div id="workshop-header" class="tab-pane workshop page-header-title">
           WORKSHOPS
         </div>
         <div class="tab-pane individual-consultory-title-subtitle workshop">
           4, 8 ou 16 horas
         </div>
         <div class="tab-pane page-header-subtitle workshop">
          
         </div>
         <div id="talks-header" class="tab-pane talks page-header-title">
           PALESTRAS
         </div>
         <div class="tab-pane individual-consultory-title-subtitle talks">
           1, 2 ou 4 horas
         </div>
         <div class="tab-pane page-header-subtitle talks">

         </div>
      </div>
    </div>
  </div>
</div>