    <h2>CONTEÚDO</h2>
    <p>Esta consultoria foi desenvolvida para responder aos desafios dos Presidentes, CEOs e altos executivos. O conteúdo das consultorias é altamente profundo e individualizado. O seu Consultor Expert moldará o serviço de acordo com os seus interesses, expectativas e necessidades.</p>
    
    <h2>MODALIDADES</h2>
    <p>Frequência convencional: 1 hora por semana</p>
    <p>Duração: de 3 a 6 meses</p>
    <p>Observação: este programa pode ser combinado com os Programas Intensivo ou Extensivo</p>
    
    <h2>LOCAL</h2>
    <p>Presencial nas cidades onde temos Consultores ou on-line em qualquer lugar do mundo</p>
    <p>Quando for presencial, a consultoria será prestada no local mais conveniente para você: na sua empresa, na sua casa ou nos estabelecimentos do Método DeR<span class="navbar-title-smallcaps">OSE</span></p>

    <h2>METODOLOGIA</h2>
    <p>Os temas da consultoria são escolhidos em função das suas necessidades. Cada consultor desenvolveu áreas de conhecimento específicas. Escolheremos o consultor que responderá melhor às suas expectativas.</p>
    <p>Os encontros com os nossos Consultores Experts acontecerão uma vez por semana. Fora desses momentos, o consultor estará comprometido a orientá-lo e aconselhá-lo remotamente sempre que possível. Ele o acompanhará de perto e transmitirá uma grande quantidade de conhecimento prático para o seu desenvolvimento pessoal e profissional.</p>

    <h2>PORQUE INVESTIR EM UMA CONSULTORIA?</h2>
    <p>Chega um momento na carreira do líder, executivo ou empresário, em que já se conquistou muito sucesso e é preciso algo a mais para ir além. </p>
    <p>Nesse estágio, o contato com um outro ponto de vista e um olhar externo apurado permitirá que sejam atingidos novos patamares de realização pessoal e de performance profissional.</p>
    <p>O que faz a diferença não são mais os números e os processos operacionais, e sim o porquê estamos trabalhando, onde queremos chegar e como o faremos. O valor de um acompanhamento personalizado neste sentido, que promove o despertamento e desenvolvimento de novas aptidões e faculdades, é inestimável.</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas as consultorias são ministradas exclusivamente pelos nossos Consultores Experts. Além de muito conhecimento técnico e de uma excelência em ensinar ferramentas para melhorar o ser humano, eles têm uma experiência de vida que os permite aconselhar, recomendar e catapultar a sua evolução e seu nível de realização.Todos eles contam com mais de 15 anos de ensino, têm ministrado consultorias e palestras em vários países e são considerados os melhores profissionais nas suas áreas.</p>
