    <h2>CONTEÚDO</h2>
    <p><b>Treinamento de 15 minutos</b> de técnicas respiratórias, corporais, de descontração muscular e de concentração mental</p>
    <p>Vasto acervo de técnicas garantem práticas variadas e personalizadas em função das necessidades do momento</p>
    <p>Newsletter semanal sobre Qualidade de Vida e Alta Performance</p>
    
    <h2>FREQUÊNCIA</h2>
    <p>2 a sete dias por semana</p>
    <p>Período mínimo: 3 meses</p>
    <p>Como o objetivo é um desenvolvimento a longo prazo das suas aptidões, os efeitos serão mais bem consolidados com uma maior regularidade no 
    treinamento</p>

    <h2>PARTICIPANTES</h2>
    <p>Máximo de 15 líderes</p>

    <h2>LOCAL</h2>
    <p>Presencial nas cidades com Personal Teachers</p>
    <p>As aulas serão ministradas no local mais conveniente para você: na sua 
    empresa, na sua casa ou nos estabelecimentos do M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span></p>
    <p>On-line em qualquer lugar do mundo</p>
    
    <h2>METODOLOGIA</h2>
    <p>O treinamento de 15 minutos funciona como um pit-stop em que os líderes recarregam seu nível de energia. Em cada sessão, o Personal Teacher escolherá as técnicas que respondam às necessidades do dia. Será o momento de aprender técnicas para aumentar a vitalidade em pouquíssimo tempo, descontrair profundamente, administrar o stress, treinar a concentração e a capacidade de foco.</p>
    <p>Sempre que houver oportunidade, o <i>Personal Teacher</i> transmitirá a cultura comportamental que tornou o M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span> proverbialmente conhecido por sua eficiência em preparar as pessoas para um bom relacionamento humano no trabalho e fora dele.</p>
    <p>Esse treinamento diário pode ser usado para complementar as aulas de Personal Teaching. O líder poderá, por exemplo, ter Personal Teaching de uma hora semanal e Treinamento de 15 minutos diários. Lembramos que a regularidade na aplicação das nossas ferramentas é essencial para obter resultados expressivos.</p>
    <p>Semanalmente receberão uma newsletter com textos de grande qualidade escritos pelos nossos Consultores Experts sobre temas como liderança, alta produtividade, relaçoēs humanas, qualidade de vida, boa forma, administração do stress e foco.</p>

    <h2>ALGUNS RESULTADOS PERCEBIDOS</h2>
    <p><strong>A curto prazo:</strong></p>
    <p>Melhora na administração de stress</p>
    <p>Aumento da capacidade pulmonar</p>
    <p>Tônus muscular</p>
    <p>Flexibilidade</p>
    <p>Concentração</p>
    <p>Capacidade de descontração</p>
    <p>Estabilidade emocional</p>
    <p>Qualidade do descanso</p>
    <p>Nível de vitalidade</p>
    <p>Melhora geral na qualidade de vida</p>
    <br>
    <p><strong>A médio prazo:</strong></p>
    <p>Incremento na capacidade de liderança</p>
    <p>Melhora no nível de intuição</p>
    <p>Maior criatividade</p>
    <p>Melhora na capacidade de administração de conflitos</p>
    <p>Aprimoramento na gestão de pessoas</p>
    <p>Aumento na produtividade</p>
    <p>Crescimento pessoal e organizacional</p>