<h2>MODALIDADES</h2>
<p>Palestras: 1 a 4 horas.</p>
<p>Workshops: 1, 2 ou 5 dias. Limite de 20 participantes.</p>
<p>Local: Na sua empresa ou em nossas instalações.</p>

<h2>PROGRAMAS SOB MEDIDA</h2>
<p>Construímos o treinamento personalizado para atender às suas necessidades.</p>
<p>Vamos orientá-lo a escolher os temas, palestrantes e duração que serão mais úteis à sua equipe.</p>

<h2>TEMAS DOS WORKSHOPS:</h2>
<p>Dirigentes:</p>
<p><b>"Trabalhamos as chaves para desenvolver relações humanas produtivas"</b></p>
<p><b>"Saber como bem administrar potenciais conflitos"</b></p>
<p><b>"Melhorar a carga de stress da sua equipe"</b></p>
<p><b>"Concentração e intuição: as novas ferramentas dos líderes de amanhã"</b></p>
<br>
<p>Sobre o desenvolvimento profissional:</p>
<p><b>"Aprender a bem administrar o stress"</b></p>
<p><b>"Saber se concentrar – chave para a eficiência"</b></p>
<p><b>"Ferramentas para otimizar sua eficiência todos os dias"</b></p>
<p><b>"Gerenciar melhor seu tempo. Trabalhar de forma mais inteligente"</b></p>
<br>
<p>Sobre o desenvolvimento pessoal:</p>
<p><b>"Qualidade de vida melhora a performance a longo prazo"</b></p>
<p><b>"Saber usar as emoções a seu favor"</b></p>
<p><b>"Gerar uma boa preparação física e mental"</b></p>
<p><b>"Saber cultivar excelentes relações"</b></p>

<h2>METODOLOGIA</h2>
<p>Treinamento personalizado para atender às suas expectativas. Orientamos a definição do tema, do ministrante e da modalidade que será mais eficaz.</p>
<p>Alguns dos conteúdos que podem ser abordados são: boas relações humanas, administração de conflitos, gestão de stress, alta produtividade, foco, reprogramação emocional e administração do tempo. Todas as palestras e workshops trasmitem conhecimentos que podem ser traduzidos em novas práticas no dia a dia, efetivamente trazendo uma influência positiva para a forma de lidar com o trabalho e a vida pessoal.</p>

<h2>CONSULTORES EXPERTS</h2>
<p>As palestras e workshops são ministrados exclusivamente pelos nossos Consultores Experts. Além de muito conhecimento técnico e de uma excelência em ensinar ferramentas para melhorar o ser humano, eles têm uma experiência de vida que os permite aconselhar, recomendar e catapultar a a evolução e o nível de realização seus e da sua equipe. Todos eles contam com mais de 15 anos de ensino, têm ministrado consultorias e palestras em vários países e são considerados os melhores profissionais nas suas áreas.</p>
