
    <h2>MODALIDADES</h2>
    <p>Disertaciones: 1 a 4 horas.</p>
    <p>Workshops: 1, 2 o 5 días. Límite de 20 participantes.</p>
    <p>Local: En su empresa o en nuestras instalaciones.</p>

    <h2>PROGRAMAS A MEDIDA</h2>
    <p>Construímos el entrenamiento personalizado para atender sus necesidades.</p>
    <p>Vamos a orientarlo a elegir los temas, disertantes y duración que serán más útiles para su equipo.</p>

    <h2>TEMAS DE LOS WORKSHOPS:</h2>
    <p>Dirigentes:</p>
    <p><b>"Trabajamos las llaves para desarrollar relaciones humanas productivas"</b></p>
    <p><b>"Saber como administrar bien potenciales conflictos"</b></p>
    <p><b>"Mejorar la carga de stress en su equipo"</b></p>
    <p><b>"Concentración e intuición: las nuevas herramientas de los líderes de mañana."</b></p>
    <br>
    <p>Sobre el desarrollo profesional:</p>
    <p><b>"Aprender a administrar bien el stress"</b></p>
    <p><b>"Saber concentrarse - llave para la eficiencia"</b></p>
    <p><b>"Herramientas para optimizar su eficiencia todos los días"</b></p>
    <p><b>"Gerenciar mejor su tiempo. Trabajar de forma más inteligente"</b></p>
    <br>
    <p>Sobre el desarrollo personal:</p>
    <p><b>"Calidad de vida mejora la performance a largo plazo"</b></p>
    <p><b>"Saber usar las emociones a su favor"</b></p>
    <p><b>"Generar una buena preparación física y mental"</b></p>
    <p><b>"Saber cultivar excelentes relaciones"</b></p>

    <h2>METODOLOGIA</h2>
    <p>Entrenamiento personalizado para atender sus expectativas. Orientamos la definición del tema, del disertante y de
      la modalidad que será más eficaz.</p>
    <p>Algunos de nuestros contenidos que pueden ser abordados son: buenas relaciones humanas, administración de conflictos,
      gestión del stress, alta productividad, foco, reprogramación emocional y administración del tiempo.
      Todas las disertaciones y workshops transmiten conocimientos que pueden ser traducidos en nuevas prácticas en el día a día,
      efectivamente generando una influencia positiva para la forma de lidiar con el trabajo en la vida profesional.</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p> Las disertaciones y workshops dados exclusivamente por nuestros Consultores Experts.
      Además de mucho conocimiento técnico y de una excelencia en enseñar herramientas para mejorar al ser humano,
      tienen una experiencia de vida que les permite aconsejar, recomendar y catapultar su evolución y su nivel de
      realización. Todos ellos cuentan con más de 15 años de enseñanza, han dictado consultorías y conferencias en varios
      países y son considerados los mejores profesionales en sus áreas.</p>
