    <h2>CONTENIDO</h2>
    <p><strong>50 minutos de clase práctica</strong>: Respiración, Fuerza, Flexibilidad, Relajación, Concentración.</p>
    <p><strong>10 minutos de clase teórica</strong>: Buena forma, Buena Alimentación, Gestión del estrés, Administración de conflictos, Administración de emociones, administración del tiempo, buenas relaciones...</p>
    <p><strong>Newsletter semanal</strong> sobre Calidad de Vida y Alta Performance.</p>
    
    <h2>FRECUENCIA</h2>
    <p><strong>Frecuencia</strong>: de dos días por semana a todos los días de la semana.</p>
    <p><strong>Período mínimo</strong>: de 3 meses</p>
    <p>Como el objetivo es un desarrollo a largo plazo de sus aptitudes, el aprovechamiento será mayor manteniendo regularidad en el entrenamiento.</p>
    
    <h2>PARTICIPANTES</h2>
    <p>Máximo de 15 líderes</p>

    <h2>LUGAR</h2>
    <p>Presencial en las ciudades con Personal Teachers;</p>
    <p>Las clases se dictan en el lugar más adecuado para usted: en su empresa, en su casa o en los establecimientos del M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span>.</p>
    <p><strong>On-line</strong> en qualquier lugar del mundo.</p>

    <h2>METODOLOGÍA</h2>
    <p>El Small Group Teaching es la mejor manera de entrenar en forma completa para desarrollar el cuerpo físico y las inteligencias emocional, mental e intuitiva de los líderes. Las prácticas de 50 minutos, una o varias veces por semana, son ideales para desenvolver el potencial en forma profunda y duradera. Las conversaciones que siguen a esas prácticas nos permiten enseñar cómo aplicar  nuestras herramientas diariamente. Fuera de los horarios de clase, el Personal Teacher queda a disposición de los líderes para esclarecer sus dudas y  orientarlos en sus lecturas y entrenamiento. Semanalmente, se enviará una newsletter con textos de gran calidad escritos por  nuestros Consultores Experts sobre temas como Liderazgo, Alta Productividad, Relaciones Interpersonales, Calidad de Vida, Buena Forma, Administración del Estrés, Concentración y Foco.</p>

    <h2>ALGUNOS RESULTADOS DETECTADOS</h2>
    <p><strong>En los primeros meses:</strong></p>
    <p>Mejora en la administración del estrés</p>
    <p>Aumento de la capacidad pulmonar</p>
    <p>Tono muscular</p>
    <p>Flexibilidad</p>
    <p>Concentración</p>
    <p>Capacidad de descontración</p>
    <p>Estabilidad emocional</p>
    <p>Calidad del descanso</p>
    <p>Nivel de vitalidad</p>
    <p>Mejora general en la calidad de vida</p>
    <br>
    <p><strong>Después de algunos meses de práctica regular:</strong></p>
    <p>Incremento de la capacidad de liderazgo</p>
    <p>Mejora del nivel de intuición</p>
    <p>Más creatividad</p>
    <p>Mejora en la capacidad de administración de conflictos</p>
    <p>Perfeccionamiento en la gestión de personas</p>
    <p>Aumento de la productividad</p>
    <p>Crecimiento personal y organizacional</p>
