    <h2>CONTENTS</h2>
    <p><strong>50 minutes of practice</strong>: muscle definition, increase vitality, increase in breath amplitude, improved ability to focus, and on development of intuition, etc.</p>
    <p><strong>10 minutes of conversation</strong> focused on your objectives: high productivity, stress management, conflict management, good physical fitness, good nutrition, etc.</p>
    <p><strong>Weekly newsletter</strong> about Professional High Performance</p>
    
    <h2>FREQUENCY AND DURATION</h2>
    <p><strong>Frequency</strong>: 1 to 7 days per week</p>
    <p><strong>Minimum period</strong>: 3 months</p>
    <p>Since the goal is the long-term development of your skills, the results will be greater when maintaining consistency in training.</p>

    <h2>LOCAL</h2>
    <p>Classroom locations in cities with Personal Teachers;</p>
    <p>The classes are taught in the location most appropriate for you: in your company, in your house or in the DeR<span class="navbar-title-smallcaps">OSE</span> Method establishment.</p>
    <p><strong>On-line</strong> anywhere in the world</p>
    
    <h2>METHODOLOGY</h2>
    <p>Your Personal Teacher will create a program tailored to you to develop your full potencial.</p>
    <p>This program is the best and most complete way to enhance oneself, physically, emotionally, mentally and on intuitive levels.</p>
    <p>The 50 minute practices, once or several times a week, are ideal for a deeper and longer lasting skill development. The conversations that follow these practices allow the Teacher to help you to establish your development goals and teach you how to apply our tools in your day to day activities. Outside of classes, the Personal Teacher is at your disposal to answer your questions and guide you through the readings and trainings.</p>
    <p>Every week you will receive a newsletter with excellent texts written by our expert Consultants convering topics such as leadership, high productivity, human relations, quality of life, fitness, stress management, and concentration.</p>
    
    <h2>A FEW NOTED RESULTS</h2>
    <p><strong>In the first months:</strong></p>
    <p>Improvement in stress management</p>
    <p>Increased lung capacity</p>
    <p>Muscle tone</p>
    <p>Flexibility</p>
    <p>Concentration</p>
    <p>Ability to relax</p>
    <p>Emotional stability</p>
    <p>Quality of rest</p>
    <p>Level of vitality</p>
    <p>Overall improvement in quality of life</p>
    <br>
    <p><strong>After a few months of regular practice:</strong></p>
    <p>Increase in leadership abilty</p>
    <p>Improvement in the level of intuition</p>
    <p>More creativity</p>
    <p>Improved capacity to manage conflict</p>
    <p>Improvement in people management</p>
    <p>Increase in productivity</p>
    <p>Personal and organizational growth</p>
