    <h2>CONTENIDO</h2>
    <p><strong>Entrenamiento de quince minutos</strong> de técnicas respiratorias, corporales, de descontracción muscular y de concentración mental.</p>
    <p>Las técnicas son <strong>elegidas</strong> según las necesidades del momento.</p>
    <p><strong>Newsletter</strong> semanal sobre Calidad de Vida y Alta Performance</p>
    
    <h2>FRECUENCIA</h2>
    <p><strong>Frecuencia</strong>: de dos días por semana a todos los días de la semana.</p>
    <p><strong>Período mínimo</strong>: de 3 meses</p>
    <p>Como el objetivo es un desenvolvimiento a largo plazo de sus aptitudes, el aprovechamiento será mayor si se mantiene regularidad en el entrenamiento.</p>
    
    <h2>PARTICIPANTES</h2>
    <p>Máximo de 15 líderes</p>

    <h2>LUGAR</h2>
    <p>Presencial en las ciudades con Personal Teachers;</p>
    <p>Las clases se dictan en el lugar más adecuado para usted: en su empresa, en su casa o en los establecimientos del M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span>.</p>
    <p><strong>On-line</strong> en qualquier lugar del mundo.</p>

    <h2>METODOLOGÍA</h2>
    <p>El entrenamiento de 15 minutos funciona como un Pit-Stop en que los líderes recargan su nivel de energía. En cada sesión, el Personal Teacher escogerá las técnicas que respondan a sus necesidades del momento. Será el momento de aprender técnicas para aumentar la vitalidad en poquísimo tiempo, descontraer profundamente, administrar el estrés, entrenar la concentración y la capacidad de foco.</p>
    <p>Siempre que haya oportunidad, el Personal Teacher transmitirá la cultura comportamental que ha tornado al M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span> proverbialmente conocido por su eficiencia en preparar para las buenas relaciones humanas en el trabajo y fuera de él.</p>
    <p>Este entrenamiento diario puede ser usado para completar las clases de Personal Teaching. El líder podrá, por ejemplo, tener una clase semanal de Personal Teaching y entrenamientos diarios de 15 minutos. Recordamos que la regularidad en el entrenamiento de nuestras herramientas es esencial para obtener resultados significativos.</p>

    <h2>ALGUNOS RESULTADOS DETECTADOS</h2>
    <p><strong>En los primeros meses:</strong></p>
    <p>Mejora en la administración del estrés</p>
    <p>Aumento de la capacidad pulmonar</p>
    <p>Tono muscular</p>
    <p>Flexibilidad</p>
    <p>Concentración</p>
    <p>Capacidad de descontración</p>
    <p>Estabilidad emocional</p>
    <p>Calidad del descanso</p>
    <p>Nivel de vitalidad</p>
    <p>Mejora general en la calidad de vida</p>
    <br>
    <p><strong>Después de algunos meses de práctica regular:</strong></p>
    <p>Incremento de la capacidad de liderazgo</p>
    <p>Mejora del nivel de intuición</p>
    <p>Más creatividad</p>
    <p>Mejora en la capacidad de administración de conflictos</p>
    <p>Perfeccionamiento en la gestión de personas</p>
    <p>Aumento de la productividad</p>
    <p>Crecimiento personal y organizacional</p>
