    <h2>CONTENIDO</h2>
    <p><strong>50 minutos de práctica</strong>: definición muscular, incremento de vitalidad, aumento de la amplitud respiratoria, perfeccionamiento de la capacidad de foco, desenvolvimiento del intuicional, etc.</p>
    <p><strong>10 minutos de conversación</strong> con foco en sus objetivos: alta productividad, gestión del estrés, administración de conflictos, buena forma, buena alimentación, etc.</p>
    <p><strong>Newsletter semanal</strong> sobre Alta Performance Profissional.</p>
    
    <h2>FRECUENCIA Y DURACIÓN</h2>
    <p><strong>Frecuencia</strong>: de uno a siete días por semana</p>
    <p><strong>Período mínimo</strong>: 3 meses</p>
    <p>Como el objetivo es un desenvolvimiento a largo plazo de sus aptitudes, el aprovechamiento será mayor manteniendo regularidad en el entrenamiento.</p>

    <h2>LUGAR</h2>
    <p>Presencial en las ciudades con Personal Teachers.</p>
    <p>Las clases se dan en el lugar más adecuado para usted en su empresa, en su casa o en los establecimientos del Método DeR<span class="navbar-title-smallcaps">OSE</span>.</p>
    <p><strong>On-line</strong> en cualquier lugar del mundo</p>
    
    <h2>METODOLOGÍA</h2>
    <p>Su Personal Teacher construye un programa a medida para desarrollar su potencial.</p>
    <p>Este programa es la mejor forma de perfeccionarse de manera completa, en los niveles físico, emocional, mental e intuitivo.</p>
    <p>Las prácticas de 50 minutos, una o varias veces por semana, son ideales para desarrollar sus aptitudes de forma profunda y duradera. Las conversaciones que siguen a esas prácticas permiten establecer sus metas de desenvolvimiento y enseñarle cómo aplicar nuestras herramientas en su vida diaria. Fuera de los horarios de clase, el Personal Teacher queda a su disposición para responder a sus preguntas y para orientarlo en las lecturas y entrenamientos.</p>
    <p>Semanalmente usted recibirá una newsletter con textos de gran calidad escritos por nuestros Consultores Experts sobre temas como liderazgo, alta productividad, relaciones humanas, calidad de vida, buena forma, administración del estrés, concentración.</p>
    
    <h2>ALGUNOS RESULTADOS DETECTADOS</h2>
    <p><strong>En los primeros meses:</strong></p>
    <p>Mejora en la administración del estrés</p>
    <p>Aumento de la capacidad pulmonar</p>
    <p>Tono muscular</p>
    <p>Flexibilidad</p>
    <p>Concentración</p>
    <p>Capacidad de descontración</p>
    <p>Estabilidad emocional</p>
    <p>Calidad del descanso</p>
    <p>Nivel de vitalidad</p>
    <p>Mejora general en la calidad de vida</p>
    <br>
    <p><strong>Después de algunos meses de práctica regular:</strong></p>
    <p>Incremento de la capacidad de liderazgo</p>
    <p>Mejora del nivel de intuición</p>
    <p>Más creatividad</p>
    <p>Mejora en la capacidad de administración de conflictos</p>
    <p>Perfeccionamiento en la gestión de personas</p>
    <p>Aumento de la productividad</p>
    <p>Crecimiento personal y organizacional</p>
