<div class="container">
  <div class="row">
    
    <h2>PORQUE REALIZAR UMA CONSULTORIA?</h2>
    <p>Chega um momento na carrera de grandes líderes em que já conquistaram muito sucesso e não sabem o que fazer para ir alem. E nesse momento um olhar externo sobre mesmo si, sobre a rotina e os habitos pode permitir atingir outros patamares de realizaçao pessoal e de performance.
    As vezes o que faz a diferencia não são mais os números e os processos operacionais más o porque estamos trabalhando, onde queremos chegar e como o fazemos. Não tem preço ter alguem do seu lado que atraves de seu conhecimento e sabedoria sabe le fazer evoluir como professional mas tambem como ser humano.</p>

    <h2>FREQUÊNCIA E DURAÇÃO</h2>
    <p><strong>Frequência</strong>: 1 encontro semanal, poderá ser adaptado em funcão das necessidade do líder.</p>
    <p><strong>Duraçao</strong>: de 3 e 6 meses.</p>
    <p><strong>Observação</strong>: a consultoria pode ser combinada com os programas 'Personal Teaching' e 'Treinamento 15 min'.</p>
    
    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas as consultorias são ministradas exclusicamente pelos nossos consultores Experts.  Alem de muito conhecimento tecnico e de uma excelencia em ensinar ferramentas para melhorar o ser humano, eles têm uma experiencia de vida que os permite aconselhar, recomandar e catapultar a sua evoluçao e seu nivel de realização.Todos eles contam com mais de 15 anos de ensino, tem ministrado consultorias e palestras em varios pais e são considerados os melhores profissionais nas suas área.</p>

    <h2>MÉTODOLOGIA</h2>
    <p>Os temas da consultoria são escolhido em funçao das suas necessidades. Cada consultor desenvolveu areas de conhecimento especificas. Escolheremos o consultor que saberá melhor responder as suas espectativas.</p>
    <p>Os encontros (presenciais ou on-line) com os nossos Consultores Experts acontecem uma vez por semana. O consultor está comprometido para orientar e aconselhar o líder de segunda a domingo sempre que ele estiver disponivel.  Ele o acompanhará de perto e transmitirá uma grande quantidade de conhecimento prático para que possa crescer como profissional e como pessoa.</p>
  </div>
</div>