<div class="container individual-consultory-container page-title-container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tab-content">
        <div id="personal-header" class="tab-pane active personal page-header-title">
           PERSONAL TEACHING PROGRAM
         </div>
         <div class="tab-pane active individual-consultory-title-subtitle personal">
           2 vêzes de 1 hora por semana
         </div>
         <div class="tab-pane active page-header-subtitle personal">
           <h2>OBJETIVOS</h2>
            <p>Aprenda ferramentas para desenvolver o seu potencial</p>
            <p>Desenvolva Alta Performance em todas as areas da sua vida</p>
            <p>Melhore a sua Qualidade de Vida</p>
         </div>
         <div id="training-header" class="tab-pane training page-header-title">
           TREINAMENTO
         </div>
         <div class="tab-pane individual-consultory-title-subtitle training">
           15 minutos por día
         </div>
         <div class="tab-pane page-header-subtitle training">
           <h2>OBJETIVOS</h2>
            <p>Favoreça sua Alta Produtividade</p>
            <p>Aprimore sua Boa Forma</p>
            <p>Desenvolva o seu Bem Estar</p>
         </div>
         <div id="consultory-header" class="tab-pane consultory page-header-title">
           CONSULTING PROGRAM
         </div>
         <div class="tab-pane individual-consultory-title-subtitle consultory">
           3 até 6 mêses
         </div>
         <div class="tab-pane page-header-subtitle consultory">
           <h2>Temas</h2>
            <p>Alta Produtividade</p>
            <p>Viver e trabalhar melhor</p>
            <p>Comportamento, Etica e Resultados</p>
            <p>Líderança sabia</p>
         </div>
         <div id="intensive-header" class="tab-pane intensive page-header-title">
           INTENSIVE TEACHING
         </div>
         <div class="tab-pane individual-consultory-title-subtitle intensive">
           2 dias
         </div>
         <div class="tab-pane page-header-subtitle intensive">
           <h2></h2>
         </div>
      </div>
    </div>
  </div>
</div>