    <h2>CONTENU</h2>
    <p>Ce programme à été développé pour répondre aux défis des Présidents, des CEOs et des cadres dirigeants. Le contenu du consulting est entièrement construit sur mesure. Votre Consultant Expert établira lors des premières rencontre un bilan précis des compétences que vous souhaitez développer. Il pourra ainsi para la suite vous offrir les meilleurs outils pour atteindre les objectifs que vous vous êtes fixés.</p>

    <h2>FRÉQUENCE ET DURÉE</h2>
    <p>Fréquence: 1 rencontre par semaine. Totalement adaptable à votre agenda.</p>
    <p>Durée: 3 à 6 mois, en fonction des problématiques abordées.</p>
    <p>Observation: le programme de Consulting pourra s'accompagner des programmes "Personal teaching" et "Entrainements".</p>

    <h2>CONSULTANTS EXPERTS</h2>
    <p>Nos consultings sont proprosés exclusivement par nos Consultants de niveau Experts. Ils sont selectionnés pour l'excellence avec laquelle ils transmettre les outils de notre métodologie. Ils bénéficient tous d'une expérience d'enseignement de plus de 15 ans et peuvent ainsi vous conseiller et vous accompagner de façon extrêmement precise et efficace. Tous nos Consultants Experts offrent des conférences dans plusieurs pays et sont reconnus dans leur domaine au niveau international.</p>

    <h2>LIEU</h2>
    <p>En direct dans toutes les villes de nos Consultants Experts. (Contactez-nous pour plus d'informations).</p>
    <p>Vous pouvez choisir le lieu dans lequel les entretiens sont réalisés : au sein de votre entreprise, à domicile ou dans nos établissements DeR<span class="navbar-title-smallcaps">OSE</span>.</p>
    <p>Via internet dans le monde entier</p>

    <h2>MÉTODOLOGIE</h2>
    <p>Les thèmes développés durant le consulting sont choisis en fonction de vos besoins. Chaque Consultant Expert est specialisé dans ou plusieurs domaines. Nous choisissons donc le Consultant qui sera le mieux répondre à vos attentes.</p>
    <p>Les entretiens (en direct ou par internet) ont lieu une fois par semaine. Le Consultant est pleinement engagé pour vous faire progresser le plus rapidement possible. Il répondera à vos questions tous les jours de la semaine et vous accompagnera afin que votre Consulting constitue une période d'apprentissage accélérée. Il sera ainsi à vos côtés pour vous transmettre un grand nombre de connaissances qui vous permettrons de vous développer au niveau personnel et professionnel.</p>

    <h2>POURQUOI RÉALISER UN CONSULTING ?</h2>
    <p>Il arrive un moment dans la carrière d'un grand leader où votre succès est déjà établit et vous ressentez qu'il vous faut quelque chose en plus pour aller plus loin. C'est à ce moment là qu'un regard extérieur sur votre votre comportement, votre routine et vos habitudes peut vous permettre d'atteindre un tout autre niveau de performance et de réalisation personnelle. Parfois ce ne sont plus les chiffres et les procédures opérationnelles qui font la différence, mais plutôt pourquoi nous travaillons, dans quelle direction et comment nous aggisons. Avoir à vos côtés quelqu'un en mesure de vous orienter et de vous faire évoluer n'a pas de prix.   </p>
