    <h2>CONTEÚDO</h2>
    <p>Treinamento de <strong>15 minutos</strong> de técnicas respiratórias, corporais, de descontração muscular e de concentração mental;</p>
    <p>A técnicas são escolhidas <strong>sob medida</strong> em função das necessidades do momento;</p>
    <p><strong><i>Newsletter</i> semanal</strong> sobre Qualidade de Vida e Alta Performance.</p>
    
    <h2>FREQUÊNCIA E DURAÇÃO</h2>
    <p><strong>Frequência</strong>: a parte técnica é transmitida de segunda a sexta-feira ou na periodicidade que melhor parecer ao contratante.</p>
    <p><strong>Período mínimo</strong>: 3 meses</p>

    <h2>LOCAL</h2>
    <p><strong>Presencial</strong> nas cidades com <i>Personal Teachers</i>;</p>
    <p>As aulas são ministradas no local mais adequado para você: na sua empresa, na sua casa ou nos estabelecimentos do Método DeR<span class="navbar-title-smallcaps">OSE</span>.</p>
    <p><strong>On-line</strong> em qualquer lugar do mundo.</p>

    <h2>METODOLOGIA</h2>
    <p>O treinamento de 15 minutos funciona como um <i>Pit-Stop</i> em que você recarrega seu nível de energia. Em cada sessão o consultor escolherá as técnicas que respondam às suas necessidades do momento. Será o momento de aprender técnicas para aumentar a sua vitalidade em pouquíssimo tempo, descontrair profundamente, administrar o seu stress, treinar a sua concentração e capacidade de foco.</p>
    <p>Sempre que houver oportunidade, o instrutor transmitirá a cultura comportamental que tornou o Método DeR<span class="navbar-title-smallcaps">OSE</span> proverbialmente conhecido por sua eficiência em preparar as pessoas para um bom relacionamento humano no trabalho e fora dele.</p>
    <p>Esse treinamento diário pode ser usado para complementar as aulas de <i>Personal Teaching</i>. O líder poderá por exemplo ter <i>Personal Teaching</i> de uma hora semanal e treinamentos de 15 mintuos diários. Lembramos que a regularidade no treinamento das nossas ferramentas é essencial para obter resultados expressivos.</p>


    <h2>ALGUNS RESULTADOS PERCEBIDOS</h2>
    <p><strong>Nos primeiros meses:</strong></p>
    <p>Melhora na administração de stress</p>
    <p>Aumento da capacidade pulmonar</p>
    <p>Tônus muscular</p>
    <p>Flexibilidade</p>
    <p>Concentração</p>
    <p>Capacidade de descontração</p>
    <p>Estabilidade emocional</p>
    <p>Qualidade do descanso</p>
    <p>Nível de vitalidade</p>
    <p>Melhora geral na qualidade de vida</p>
    <br>
    <p><strong>Depois de alguns meses de prática regular:</strong></p>
    <p>Incremento na capacidade de liderança</p>
    <p>Melhora no nível de intuição</p>
    <p>Mais criatividade</p>
    <p>Melhora na capacidade de administração de conflitos</p>
    <p>Aprimoramento na gestão de pessoas</p>
    <p>Aumento na produtividade</p>
    <p>Crescimento pessoal e organizacional</p>
