<h2>MODALITIES</h2>
<p>Lectures: from 1 to 4 hours</p>
<p>Training: 1, 2 or 5 days<br>
Groups are limited to 20 participants.</p>
<p>Location: Either at contractee facility or DeRose Method facility</p>


<h2>CUSTOM TRAINING</h2>
<p> We create the customized training looking forward to meet your expectations.</p> 
<p>We can guide you to choose the topics, speakers and duration that will be most efficient to your teams.</p>

<h2>EXAMPLES OF PROPOSED TRAININGS</h2>
<p>Exclusive for executives:</p>
<p><b>"The keys to develop productive human relationships."</b></p>
<p><b>"Knowing how to anticipate and resolve conflicts."</b></p>
<p><b>"Preventing stress and burnouts of its teams."</b></p>
<p><b>"Concentration and Intuition: the new tools of tomorrow's leaders."</b></p>
<br>
<p>About the professional development:</p>
<p><b>"To prevent overstress and to learn how to cope with it."</b></p>
<p><b>"Knowing how to focus - the key to efficiency."</b></p>
<p><b>"10 tools to optimize your efficiency in a daily basis."</b></p>
<p><b>"To better manage your time ... Work more wisely."</b></p>
<br>
<p>About personal development:</p>
<p><b>"Quality of life: the long-term key towards performance."</b></p>
<p><b>"Emotions: stop to struggle and learn to use them in your favor."</b></p>
<p><b>"The keystones to a good physical and mental preparation."</b></p>
<p><b>"Knowing to cultivate great interpersonal relations."</b></p>
<br>
<p>Contact us for the detailed program and the modalities of one of these trainings.</p>

<h2>METHODOLOGY</h2>
<p>Intensive trainings allow to address specific topics, both theoretically and practically. They aim to bring awareness opens up the possibility of changes in attitude and behavior at work. They provide an intensive learning time to develop the capabilities of each, while strengthening the team cohesion. Participants will then be accompanied by following our extensive training programs and coaching so that learning is integrated effectively within their daily lives.</p>

<h2>TRAINERS</h2>
<p>All our trainings shall be conducted by our most senior consultants. They have a lenghty teaching experience and accompany everyday great leaders in their evolution. They provide training and conferences internationally and are regarded as the best specialists in their fields of expertise.</p>