    <h2>MODALITÉS</h2>
    <p>Durée : Conférences de 1, 2 ou 4 heures</p>
    <p>Formations : 1, 2 ou 5 jours</p>
    <p>les formations sont limitées à 20 participants.</p>
    <p>Lieu : Dans les locaux de l'entreprise ou dans nos établissements. </p>

    <h2>FORMATIONS SUR MESURE</h2>
    <p>Nous construisons nos formations sur mesure en fonction de vos attentes.</p> 
    <p>Nous pouvons ainsi vous orienter pour choisir les thèmes, les intervenants et la durée qui sera le plus profitable à vos équipes.</p>
    
    <h2>EXEMPLES DE FORMATIONS PROPOSÉES</h2>
    <p>Réservés aux cadres dirigeants :</p>
    <p>"Les clés pour développez des relations humaines productives."</p>
    <p>"Savoir anticiper et résoudre les conflits."</p>
    <p>"Prévenir le stress et les burnouts de ses équipes."</p>
    <p>"Concentration et Intuition : les nouveaux outils des leaders de demain."</p>
    <br>
    <p>Autour du développement professionnel :</p>
    <p>"Prévenir l'excès de stress et apprendre à le gérer."</p>
    <p>"Savoir se concentrer - la clé de l'efficacité."</p>
    <p>"10 outils pour optimisez votre efficacité au quotidien."</p>
    <p>"Gérez mieux votre temps… Travaillez plus intelligement."</p>
    <br>
    <p>Autour du développement personnel</p>
    <p>"Qualité de vie : la clé d'une performance sur le long terme."</p>
    <p>"Les émotions : ne plus les subir et savoir les utiliser en votre faveur."</p>
    <p>"Les clés d'une bonne préparation physique et mentale."</p>
    <p>"Savoir cultiver d'excellentes relations interpersonnelles."</p>
    <br>
    <p>Contactez-nous pour obtenir le programme détaillé ainsi que les modalités d'une de ces formations. </p>

    <h2>MÉTHODOLOGIE</h2>
    <p>Les Formations intensives permettent d'aborder un thème spécifique aussi bien sur le plan théorique que pratique. Elles ont pour objectif de provoquer une prise de conscience ouvrant la possibilité de changements d'attitude et de comportement au travail. Elles constituent un temps d'apprentissage intensif permettant de développer les capacités de chacun tout en renforçant la cohésion de l'équipe. Les participants pourront ensuite être accompagnés en suivant nos programmes de Formations extensives ou de Coaching afin que cet apprentissage s'intégre efficacement dans leur quotidien.</p>

    <h2>FORMATEURS</h2>
    <p>Toutes nos formations sont conduites par nos Consultants les plus expérimentés. Ces derniers possèdent une longue expérience d'enseignement et accompagnent au quotidien de grands dirigeants dans leur évolution. Ils donnent des formations et des conférences à l'international et sont considérés comme les meilleurs spécialistes dans leurs domaines d'expértise.</p>