<h2>MODALIDADES</h2>
<p>Frecuencia: sesiones semanales de 1 hora o sesiones diarias de 15 minutos.</p>
<p>Duración: primer módulo de 3 meses.</p>
<p>Participantes: sesiones individuales o en pequeños grupos.</p>
<p>Local: Las clases serán dadas en el local más conveniente para usted - en su empresa, en su casa
  o en los establecimientos del M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span>.</p>
<p>El programa extensivo puede también ser enseñado online en cualquier lugar del mundo</p>

<h2>CONTENIDO</h2>
<p>Técnicas para mejorar la concentración, nivel de vitalidad, capacidad respiratoria, descontracción, mentalización y
  el funcionamiento del organismo como un todo.</p>
<p>Foco en conceptos para una buena gestión de personas, buen relacionamiento, alta productividad, gestión de stress,
  administración de conflictos, buena forma, buena alimentación.</p>
<p>Newsletter semanal sobre Calidad de Vida y Alta Performance.</p>

<h2>METODOLOGÍA</h2>

<p>Las técnicas que componen la parte práctica del entrenamiento, al ser ejecutadas una o más veces por semana,
  son ideales para aumentar su vitalidad, tornarlo más productivo y enseñar a gerenciar mejor el stress de forma sustentable.</p>
<p>Por otro lado, las conversaciones que componen la parte teórica permiten que usted defina metas específicas y aprenda
  a través de nuestras herramientas a mejorar su vida diaria. Además de las sesiones y encuentros regulares,
  su entrenador estará a su disposición para orientarlo y responder sus preguntas. Usted aprenderá a desarrollar
  sus habilidades físicas, emocionales y mentales.</p>
<p>Usted también recibirá un boletín semanal con excelentes textos escritos por nuestros consultores especialistas,
  a fin de profundizar sobre varios temas como lideranza, productividad en el trabajo, relaciones interpersonales,
  calidad de vida, bienestar, gestión de stress y concentración.</p>


<h2>RESULTADOS ESPERADOS</h2>

<p><strong>En los primeros meses:</strong></p>
<p>Mejora en la administración del estrés</p>
<p>Aumento de la capacidad pulmonar</p>
<p>Mejora en el tono muscular y flexibilidad</p>
<p>Desarrollo de la concentración</p>
<p>Mejora en la estabilidad emocional</p>
<p>Aumento de vitalidad</p>
<br>
<p><strong>Después de algunos meses:</strong></p>
<p>Mayor eficiencia profesional y personal</p>
<p>Desarrollo de la intuición</p>
<p>Más creatividad</p>
<p>Mejora en la capacidad de administración de conflictos</p>
<p>Mejor gestión de equipo y de personas</p>
<p>Incremento general en la calidad de vida</p>
