    <h2>DURACIÓN</h2>
    <p>4, 8 o 16 horas, dependiendo de los temas y de las necesidades de la empresa</p>
    
    <h2>CONFERENCIANTES</h2>
    <p>Todos los workshops se realizan con la supervisión de uno de nuestros Consultores Experts. Además de su gran conocimiento técnico y su excelencia en enseñar herramientas para mejorar al ser humano, tienen una experiencia de vida que les permite aconsejar, recomendar y acelerar la evolución profesional y el nivel de realización de los líderes. Todos ellos cuentan con más de 15 años de enseñanza, han dado consultorías y conferencias en varios países y son considerados los mejores profesionales en sus áreas.</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas las consultorías son dadas exclusivamente por nuestros consultores Experts. Además de mucho conocimiento técnico y de una excelencia en enseñar herramientas para mejorar al ser humano, tienen una experiencia de vida que les permite aconsejar, recomendar y catapultar su evolución y su nivel de realización .Todos ellos cuentan con más de 15 años de enseñanza, han dado consultorías y conferencias en varios países y son considerados los mejores profesionales en sus áreas.</p>
