    <h2>CONTENT</h2>
    <p><strong>Fifty minute practice session</strong>: Breathing, Strength, Flexibility, Relaxation, Concentration.</p>
    <p><strong>Ten minute lecture</strong>: Good physical condition, Good food, Stress management, Conflict management, Administration of emotions, Time management, Good relationships ... </p>
    <p><strong>Newsletter</strong> on Quality of Life and High Performance.</p>
    
    <h2>FREQUENCY</h2>
    <p><strong>Frequency</strong>: From two days a week to every day of the week. </p>
    <p><strong>Minimum period</strong>: 3 months </p>
    <p>Since the objective is a long-term development of their skills, the effects will be higher when maintaining regularity in training.</p>
    
    <h2>PARTICIPANTS</h2>
    <p>Maximum of fifteen leaders</p>

    <h2>LOCAL</h2>
    <p>Local classrooms with Personal Teachers</p>
    <p>Classes can be taught at the company, at home or in the DeR<span class="navbar-title-smallcaps">OSE</span> Method establishments.</p>
    <p>Online anywhere in the world</p>

    <h2>METHODOLOGY</h2>
    <p>Small Group Teaching is a very efective way to comprehensively train the physical body and the emotional, mental and intuitive intelligence of leaders. Fifty minute fifty practices, once or several times a week, are ideal for developing your potential in a deep and lasting way. The conversations that follow these practices allow us to teach how to apply our tools in everyday life. Outise of classes, the Personal Teacher is available to answer your questions and provide guidence in readings and in the training. Weekly, a newsletter will be sent with valuable texts written by our Expert Consultants covering topics such as Leadership, High Productivity, Interpersonal Relations, Quality of Life, Fitness, Stress Management, Concentration and Focus.</p>

    <h2>SOME OF THE RESULTS </h2>
    <p><strong>In the first months:</strong></p>
    <p>Improvement in stress management</p>
    <p>Increased lung capacity</p>
    <p>Muscle tone</p>
    <p>Flexibility</p>
    <p>Concentration</p>
    <p>Ability to relax</p>
    <p>Emotional stability</p>
    <p>Quality of rest</p>
    <p>Level of vitality</p>
    <p>Overall improvement in quality of life</p>
    <br/>
    <p><strong>After a few months with regular practice:</strong></p>
    <p>Increase in leadership skills</p>
    <p>Improvement in the level of intuition </p>
    <p>More creativity </p>
    <p>Improvement in ability to manage conflict</p>
    <p>Improvement in ability to manage people</p>
    <p>Increased productivity</p>
    <p>Personal and organizational growth</p>
