    <h2>CONTENU</h2>
    <p>50 minutes de cours pratique : définition musculaire, augmentation de la vitalité et de la capacité respiratoire, amélioration de la concentration, développement de l'intuition, etc.  </p>
    <p>10 minutes de cours théorique : productivité, gestion du stress, résolution des conflits, alimentation, gestion du temps, relations interpersonnelles...</p>
    <p>Newsletter hebdomadaire sur la Haute Performance Professionnelle.</p>
    
    <h2>FREQUENCE ET DURÉE</h2>
    <p>Fréquence : de un à sept jours par semaine</p>
    <p>Durée minimal : 3 mois</p>
    <p>L'objectif est de développer vos capacités sur le long terme. Vos résultats dépenderont donc principalement de votre discipline et la régularité de vos entrainements.</p>
    
    <h2>PARTICIPANTS</h2>
    <p>Maximum de 15 leaders</p>

    <h2>LIEU</h2>
    <p>En direct dans toutes les villes de nos Personal Teachers. (Contactez-nous pour plus d'informations)</p>
    <p>Vous pouvez choisir le lieu dans lequel les cours vous sont donnés : au sein de votre entreprise, à domicile ou dans nos établissements DeR<span class="navbar-title-smallcaps">OSE</span>.</p>
    <p>Via internet dans le monde entier</p>

    <h2>MÉTODOLOGIE</h2>
    <p>"Le Small Group Teaching constitue le meilleure programme pour entrainer une équipe de façon efficace et durable. 
    Il permet en effet de développer le potentiel des leaders au niveau physique, émotionnel, mental. La partie pratique de 50 minutes est idéale pour stimuler la vitalité, devenir plus productif et mieux gérer le stress de façon durable. Les 10 minutes de conversation permettent ensuite d'établir des objectifs précis et d'apprendre des outils concrets pour améliorer le quotidien. En dehors des horaires de cours, le Personal professeur est également à votre écoute des leaders pour répondre à leurs questions. Il peut également leur proposer des exercices et des lectures qui réponderont à leurs besoins. Ils receveront une newsletter hebdomadaire contenant des textes de grande qualité rédigés par nos Consultants Experts. Ils pourront ainsi s'approfondir sur des thèmes variés tels que le leadership, la productivité au travail, les relations interpersonnelles, la qualité de vie, le bien-être, la gestion du stress et la concentration."</p>

    <h2>CERTAINS DES RÉSULTATS PERÇUS</h2>
    <p><strong>Dans les premiers mois:</strong></p>
    <p>Amélioration de la gestion du stress</p>
    <p>Augmentation de la capacité pulmonaire</p>
    <p>Tonus musculaire</p>
    <p>Plus de Souplesse</p>
    <p>Amélioration de la  concentration</p>
    <p>Meilleure capacité de décontraction</p>
    <p>Stabilité émotionnelle</p>
    <p>Meilleure capacité de repos</p>
    <p>Plus haut niveau de vitalité</p>
    <p>Amélioration globale de la qualité de vie</p>
    <br>
    <p><strong>Après quelques mois de pratique régulière:</strong></p>
    <p>Développement du leadership</p>
    <p>Développement de l'intuition</p>
    <p>Plus de créativité</p>
    <p>Meilleure résolution des conflits</p>
    <p>Meilleure gestion d'équipe</p>
    <p>Augmentation de la productivité</p>
    <p>Plus grande réalisation personnelle</p>
