<hr/>
<div class="individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1><%= t('static_pages.sidebar.our_criteria.title') %></h1>
  </div>
  <hr/>
  <div class="row individual-sidebar-body">
    <%= t('static_pages.sidebar.our_criteria.content_html') %>
  </div>
</div>