    <h2>CONTENIDO</h2>
    <p>Este programa fue desarrollado para responder a los desafíos de los Presidentes, CEOs y Altos Ejecutivos. El contenido de las consultorías es totalmente a medida. Su Consultor Expert identificará en los primeros encuentros las habilidades que usted quiere y precisa desarrollar.</p>

    <h2>FRECUENCIA Y DURACIÓN</h2>
    <p><strong>Frecuencia</strong>: 1 encuentro semanal. Podrá ser adaptado en función de las necesidades del líder.</p>
    <p><strong>Duración</strong>: 3 a 6 meses.</p>
    <p><strong>Observación</strong>: la consultoría puede ser combinada con los programas 'Personal Teaching' y 'Entrenamiento 15 min'.</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas las consultorías están a cargo exclusivamente de nuestros Consultores Experts. Además de su gran conocimiento técnico y su excelencia en enseñar herramientas para mejorar al ser humano, tienen una experiencia de vida que les permite aconsejar, recomendar y catapultar su evolución y su nivel de realización. Todos ellos cuentan con más de 15 años de enseñanza, han dado consultorías y conferencias en distintos países y son considerados los mejores profesionales en sus respectivas áreas.</p>

    <h2>LUGAR</h2>
    <p>Presencial en las ciudades con Consultores Experts. (Contáctenos para más información).</p>
    <p>Las clases pueden darse en su empresa, en casa o en los establecimientos del Método DeR<span class="navbar-title-smallcaps">OSE</span>.</p>
    <p><strong>On-line</strong> en cualquier lugar del mundo</p>

    <h2>METODOLOGÍA</h2>
    <p>Los temas de la consultoría se eligen en función de sus necesidades. Cada consultor desarrolla áreas de conocimiento específicas. Elegiremos el consultor que sepa responder mejor a sus expectativas.</p>
    <p>Los encuetros (presenciales u on line) con nuestros Consultores Experts se realizan una vez por semana. El consultor está comprometido para orientar y aconsejar al líder de lunes a lunes siempre que esté disponible. Él lo acompanará de cerca y le transmitirá una gran cantidad de conocimiento práctico para que pueda crecer como profesional y como persona.</p>

    <h2>¿POR QUÉ REALIZAR UNA CONSULTORÍA?</h2>
    <p>Llega un momento en la carrera de los grandes líderes en que ya se ha alcanzado mucho éxito y es preciso algo más para seguir avanzando. En ese punto, una mirada externa sobre la rutina y los hábitos puede permitir alcanzar otros niveles de realización personal y de performance. A veces lo que hace la diferencia no son los números y los procesos operacionales, sino el porqué de nuestro trabajo, adónde queremos llegar y cómo lo hacemos. No tiene precio tener a alguien de su lado que a través de su conocimiento y sabiduría pueda ayudarlo a evolucionar como profesional y como ser humano.</p>