<hr/>
<div class="individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1><%= t('static_pages.sidebar.nestle.title') %></h1>
  </div>
  <div class="individual-sidebar-nestle-logo">
    <%= image_tag 'nestle_logo.jpg' %>
  </div>
  <div class="individual-sidebar-nestle-image">
    <%= locale_image(name: 'nestle', extension: 'png') %>
    <p><%= t('static_pages.sidebar.nestle.content') %></p>
  </div>
</div>