<div class="container">
  <div class="row">
 
    <h2>CONTEÚDO</h2>
    <p>Este programa foi desenvolvido para responder aos desafios dos Presidentes, CEOs e Altos Executivos. O conteúdo das consultorias é totalmente sob medida. O seu <i>Consultor Expert</i> identificará nos primeiros encontros as habilidades que você quer e precisa desenvolver.</p>

    <h2>FREQUÊNCIA E DURAÇÃO</h2>
    <p><strong>Frequência</strong>: 1 encontro semanal. Poderá ser adaptado em função das necessidades do líder.</p>
    <p><strong>Duraçao</strong>: 3 a 6 meses.</p>
    <p><strong>Observação</strong>: a consultoria pode ser combinada com os programas 'Personal Teaching' e 'Treinamento 15 min'.</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas as consultorias são ministradas exclusivamente pelos nossos <i>Consultores Experts</i>. Além de muito conhecimento técnico e de uma excelência em ensinar ferramentas para melhorar o ser humano, eles têm uma experiencia de vida que os permite aconselhar, recomendar e catapultar a sua evolução e seu nível de realização. Todos eles contam com mais de 15 anos de ensino, têm ministrado consultorias e palestras em vários países e são considerados os melhores profissionais nas suas respectivas áreas.</p>

    <h2>LOCAL</h2>
    <p>Presencial nas cidades com <i>Consultores Experts</i>. (Contacte-nos para mais informações).</p>
    <p>As aulas podem ser ministradas na sua empresa, em casa ou nos estabelecimentos do Método DeRose.</p>
    <p><i>On-line</i> em qualquer lugar do mundo.</p>

    <h2>METODOLOGIA</h2>
    <p>Os temas da consultoria são escolhidos em função das suas necessidades. Cada consultor desenvolveu áreas de conhecimento específicas. Escolheremos o consultor que saberá melhor responder às suas expectativas.</p>
    <p>Os encontros (presenciais ou <i>on-line</i>) com os nossos <i>Consultores Experts</i> acontecem uma vez por semana. O consultor está comprometido para orientar e aconselhar o líder de segunda a segunda sempre que ele estiver disponível. Ele o acompanhará de perto e transmitirá uma grande quantidade de conhecimento prático para que possa crescer como profissional e como pessoa.</p>

    <h2>PORQUE REALIZAR UMA CONSULTORIA?</h2>
    <p>Chega um momento na carreira de grandes líderes em que já se conquistou muito sucesso e que é preciso mais para ir além. Nesse ponto um olhar externo sobre a rotina e os hábitos pode permitir atingir outros patamares de realização pessoal e de performance. Às vezes o que faz a diferença não são mais os números e os processos operacionais, e sim o porquê estamos trabalhando, onde queremos chegar e como o fazemos. Não tem preço ter alguém do seu lado que através de seu conhecimento e sabedoria sabe o fazer evoluir como profissional e como ser humano.</p>
  </div>
</div>