<hr/>
<div class="individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1>CRITÉRIOS DE SELEÇAO</h1>
  </div>
  <hr/>
  <div class="row individual-sidebar-body">
    Todos os nossos programas tem um número de vagas limitadas. As candidaturas passam por um rigoroso processo seletivo. 
    <br><br>
    Os critérios principais para os programas são:
    <p>- Recomendação por alunos do Método DeR<span class="navbar-title-smallcaps">OSE</span>;</p>
    <p>- Alto cargo e nível de responsabilidade;</p>
    <p>- Percurso profissional que demonstre uma boa capacidade de crescimento pessoal;</p>
    <p>- Motivação para entrar no programa.</p>
  </div>
</div>