<hr/>
<div class="row individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1><%= t('static_pages.sidebar.unique_method.title') %></h1>
  </div>
  <hr/>
  <div class="row individual-sidebar-body">
    <p>
    <%= t('static_pages.sidebar.unique_method.content') %></p>
  </div>
</div>