    <h2>DURACIÓN</h2>
    <p>Entre 1 y 4 horas, dependiendo de las necesidades de la empresa</p>
    
    <h2>CONFERENCIANTES</h2>
    <p>Todos os Workshops se dictan con la supervisión de uno de nuestros Consultores Experts. Además de su gran conocimiento técnico y su excelencia en enseñar herramientas para mejorar al ser humano, tienen una experiencia de vida que les permite aconsejar, recomendar y acelerar la evolución profesional y el nivel de realización de los líderes. Todos ellos cuentan con más de 15 años de enseñanza, han dado consultorías y conferencias en distintos países y son considerados los mejores profesionales en sus respectivas áreas.</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas las consultorías están a cargo exclusivamente de nuestros Consultores Experts. Además de mucho conocimiento técnico y de una excelencia en enseñar herramientas para mejorar al ser humano, tienen una experiencia de vida que les permite aconsejar, recomendar y catapultar su evolución y su nivel de realización.Todos ellos cuentan con más de 15 años de enseñanza, han dado consultorías y conferencias en varios países y son considerados los mejores profesionales en sus áreas.</p>
