<hr/>
<div class="individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1>O MEU BEM-ESTAR ESTÁ NA NESTLÉ</h1>
  </div>
  <div class="individual-sidebar-nestle-logo">
    <%= image_tag 'nestle_logo.jpg' %>
  </div>
  <div class="individual-sidebar-nestle-image">
    <%= image_tag 'nestle.png' %>
    <p>Pesquisa Profa. Rosana Ortega</p>
  </div>
</div>