    <h2>DURAÇÃO</h2>
    <p>Entre 1 e 4 horas dependo das necessidades da empresa</p>
    
    <h2>PALESTRANTES</h2>
    <p>Todos os <i>Workshops</i> são ministrados com a supervisão de um dos nossos <i>Consultores Experts</i>. Além de muito conhecimento técnico e de uma excelência em ensinar ferramentas para melhorar o ser humano, eles têm uma experiencia de vida que os permite aconselhar, recomendar e acelerar a evolução profissional e o nível de realização dos líderes. Todos eles contam com mais de 15 anos de ensino, tem ministrado consultorias e palestras em varios países e são considerados os melhores profissionais nas suas áreas.</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas as consultorias são ministradas exclusivamente pelos nossos <i>Consultores Experts</i>. Alem de muito conhecimento tecnico e de uma excelencia em ensinar ferramentas para melhorar o ser humano, eles têm uma experiencia de vida que os permite aconselhar, recomandar e catapultar a sua evoluçao e seu nivel de realização.Todos eles contam com mais de 15 anos de ensino, tem ministrado consultorias e palestras em varios pais e são considerados os melhores profissionais nas suas áreas.</p>
