<h2>CONTENT</h2>
<p>This program has been developed to address the challenges of Presidents, CEOs and senior management. Coaching content is fully custom built. The consultant expert will establish during the first meetings a precise assessment of the skills you want to develop. It may well provide you with the best tools to achieve the goals you have set.</p>

<h2>MODALITIES</h2>
<p>Conventional frequency: a meeting of one hour per week. The frequency and duration can be adapted to suit your availability.</p>
<p>Duration: 3 to 6 months, depending on the issues addressed.</p>
<p>Observation: The Coaching Program can be accompanied with intensive or extensive training.</p>
<p>Location: Face to face or online. <br>
 At your place of work, home or in our schools.</p>

<h2>EXPERTS CONSULTANTS</h2>
<p>The Coaching for leaders are provided exclusively by our most senior consultants. They are selected for excellence with which they convey the tools of our methodology. They all enjoy a lengthy teaching experience and can advise and assist you highly accurate and efficient manner. All of our consultants are lecturers abroad.</p>

<h2>METHODOLOGY</h2>
<p>The themes developed during the coaching are chosen based on your needs. The interviews are held once a week. The consultant expert will look to you to advance as quickly as possible. He will assist you so that your coaching is a real time learning and progression. It will thus be by your side to send you a considerable knowledge which will enable you to develop at personal and professional levels.</p>

<h2>WHY TO IMPLEMENT AN EXECUTIVE COACHING?</h2>
<p>You may experience at certain times of your career that you need something to go even further. It is at this point that an outside perspective on your behavior, your routine and habits can enable you to achieve a whole new level of performance and personal fulfillment. It is therefore essential to have someone alongside, in a position to direct you and to make you develop positively.</p>
