<div class="container">
  <div class="row">
    <h2>CONTEÚDO</h2>
    <p><strong>50 minutos de aula prática</strong>: Respiração, Força, Flexibilidade,  Relaxamento, Concentração.</p>
    <p><strong>10 minutos de aula teórica</strong>: Boa forma, Boa Alimentação, Gestão do estresse, Administração de conflitos. Administração de emoções, administração do tempo, bom relacionamento...</p>
    <p><strong>Newsletter semanal</strong> sobre Qualidade de Vida e Alta Performance.</p>
    
    <h2>FREQUÊNCIA</h2>
    <p><strong>Frequência</strong>: de dois dias por semana a todos os dias da semana.</p>
    <p><strong>Período mínimo</strong>: de 3 meses</p>
    <p>Como o objetivo é um desenvolvimento a longo prazo das suas aptidões, o aproveitamento será maior mantendo regularidade do treinamento.</p>
    
    <h2>PARTICIPANTES</h2>
    <p>Máximo de 15 líderes</p>

    <h2>LOCAL</h2>
    <p>Presencial nas cidades com Personal Teachers (mouse em cima abre a lista de cidades)</p>
    <p>As aulas podem ser ministradas na sua empresa, em casa ou nos estabelecimentos do Método DeRose</p>
    <p>On-line em qualquer lugar do mundo</p>

    <h2>MÉTODOLOGIA</h2>
    <p>O Small Group Teaching é a melhor forma de treinar de forma completa para desenvolver o corpo físico e as inteligências emocional, mental e intuitiva dos líderes. As práticas de 50 minutos, uma ou várias vezes por semana, são ideais para desenvolver o potencial de forma profunda e duradoura. As conversas que seguem essas práticas nos permitem ensinar como aplicar as nossas ferramentas no dia a dia. Fora dos horários de aula, o Personal Teacher fica à disposição dos líderes para esclarecer as suas dúvidas e lhes orientar nas suas leituras e no seu treinamento. Semanalmente, será enviada uma newsletter com textos de grande qualidade escritos pelos nossos Consultores Experts sobre temas como Liderança, Alta Produtividade, Relações Interpessoais, Qualidade de vida, Boa Forma, Administração do Stress, Concentração e Foco.</p>

    <h2>ALGUNS RESULTADOS PERCEBIDOS</h2>
    <p><strong>Nos primeiros meses:</strong></p>
    <p>Melhora na administração de stress</p>
    <p>Aumento da capacidade pulmonar</p>
    <p>Tônus muscular</p>
    <p>Flexibilidade</p>
    <p>Concentração</p>
    <p>Capacidade de descontração</p>
    <p>Estabilidade emocional</p>
    <p>Qualidade do descanso</p>
    <p>Nível de vitalidade</p>
    <p>Melhora geral na qualidade de vida</p>
    <br/>
    <p><strong>Depois de alguns meses com prática regular:</strong></p>
    <p>Incremento na capacidade de liderança</p>
    <p>Melhora no nível de intuição</p>
    <p>Mais Criatividade</p>
    <p>Melhora na capacidade de administração de conflitos</p>
    <p>Aprimoramento na gestão das pessoas</p>
    <p>Aumento na Produtividade</p>
    <p>Crescimento pessoal e organizacional</p>
  </div>
</div>