<hr/>
<div class="individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1><%= t('static_pages.sidebar.hunter_adams.name') %></h1>
    <p><%= t('static_pages.sidebar.hunter_adams.position') %></p>
    <p><%= t('static_pages.sidebar.hunter_adams.company') %></p>
  </div>
  <hr/>
  <div class="row individual-sidebar-body">
    <%= t('static_pages.sidebar.hunter_adams.content_html') %>
  </div>
</div>