    <h2>DURÉE</h2>
    <p>D'une demi journée à 2 jours en fonction du thème et des nécessités de l'entreprise.</p>
    
    <h2>THÈMES</h2>
    <p>"Voici certains des thèmes abordés par nos spécialistes:<br>
      Leadership <br>
      Gestion du temps<br>
      Résolution des conflits<br>
      Relations Interpersonnelles<br>
      Haute Productivité<br>
      Gestion du stress<br>
      Ethique et Travail<br>
    "</p>

    <h2>OBJECTIF</h2>
    <p>Les formations sont construits sur une à deux journée et permenttent d'aborder un thème spécifique aussi bien sur le plan théorique que pratqiue. Ils ont pour objectif de provoquer une prise de conscience ouvrant la possibilité de changements d'attitutde et de comportement au travail. Ils constituent un temps d'apprentissage intensif permettant de développer les capacités de chacun tout en renforçant la cohésion de l'équipe.</p>

    <h2>CONSULTANTS EXPERTS CERTIFIÉS</h2>
    <p>Toutes nos formations sont conduites par nos Consultants Experts Certifiés. Ces derniers possèdent une expérience d'enseignement de plus 15 ans et accompagnent au quotidien de grands dirigeants dans leur évolution. Ils propose des formations intensives afin de transmettre des d'outils extremement efficaces pour devenir plus performant au quotidien. Ils donnent des formations et des conférences à l'international et sont considérés comme les meilleurs spécialistes dans leurs domaines d'expértises. </p>
