<div class="container">
  <div class="row">
    <h1>THE CONSULTORY PROGRAM</h1>
    
    <h2>Objetivos</h2>
    <p>Desenvolva inteligências específicas</p>

    <h2>Tipos de consultorías</h2>
    <p>Improving your skills</p>
    <p>Ethics and Behaviour</p>
    
    <h2>Duração</h2>
    <p>De 3 e 6 meses</p>

    <h2>Frequência</h2>
    <p>Consultoria: 1 encontro semanal</p>
    <p>Observação: a consultoria pode ser combinada com os programas 'Personal Teaching' e 'Treinamento 15 min' a partir de uma vez por semana</p>

    <h2>Consultores Seniors</h2>
    <p>Todas as consultorias são ministradas pelos nossos consultores sênior. Todos eles têm mais de 10 anos de experiência e ensinamento, e são os melhores profissionais nas suas área.</p>

    <h2>Metodologia</h2>
    <p>Os encontros (presenciais ou on-line) com os nossos consultores sênior acontecem uma vez por semana. Mas você pode consultá-los se ficar com alguma dúvida entre uma sessão e outra. O consultor vai acompanhar de perto o seu desenvolvimento e ficará atento a mudanças nos seus objetivos.</p>
  </div>
</div>