    <h2>CONTENT</h2>
    <p>This program was developed to meet the challenges of Presidents, CEOs and Senior Executives. The content of our consulting is tailored. In your first meeting your expert advisor will identify the skills you want and need to develop.</p>

    <h2>FREQUENCY AND DURATION</h2>
    <p><strong>Frequency</strong>: 1 weekly meeting. Tailored to the needs of the leader. </p>
    <p><strong>Duration</strong>: 3 to 6 months. </p>
    <p><strong>Note</strong>: consulting can be combined with the 'Personal Teaching' and '15-Minute Training' programs.</p>

    <h2>EXPERT CONSULTORS</h2>
    <p>All consulting serveices are taught exclusively by our Expert Consultants. Aside from their extensive technical knowledge and excellent ability to teach the tools necessary to enhance people, their experience enables them to advise, make recommendations and catapult your evolutionary progress and levels of achievement. They all have over 15 years of teaching, having provided consulting and taught lectures in several countries and are considered to be the best professionals in their respective areas.</p>

    <h2>LOCAL</h2>
    <p>Personal Expert Consultors in your city. (Contact us for more information and availability). </p>
    <p>Classes can be taught at your company, at home or in DeR<span class="navbar-title-smallcaps">OSE</span> Method establishments.</p>
    <p><strong>On-line</strong> anywhere in the world</p>

    <h2>METHODOLOGY</h2>
    <p>The consulting themes are chosen according to the leader's needs. Each consultant has developed in their specific area of knowledge. We will help choose the consultant who can best meet the leader's needs.</p>
    <p>The meetings (in person or online) with our Expert Consultants are held once a week. The consultor is committed to mentoring and advising the leader when needed, even seven days a week if necessary. He will closely monitor an teach a large amount of practical wisdom to help you grow as a professional and a person.</p>

    <h2>WHY DO CONSULTING?</h2>
    <p>There comes a time in the career of great leaders when they have already achieved great success yet something more is needed to go further. At this point, an outsider's perspective of your routine and habits can help you to achieve new heights of personal achievement and performance. Sometimes what makes the difference is not in the numbers and operational processes, rather in the why (in italics) we're working, where do we want to go, and how we do it. No price can be put on having someone on your side who knows how to help you evolve as a professional and as a human being.</p>
