<div class="container">
  <div class="row">
    <h2>CONTEÚDO</h2>
    <p><strong>50 minutos de prática</strong>:  tônus muscular, incremento de vitalidade, aumento da capacidade pulmonar, aprimoramento da capacidade de foco, desenvolvimento do intuicional, etc.</p>
    <p><strong>10 minutos de conversa</strong> com foco nos seu objetivos: alta produtividade, gestão do stress, administração de conflitos, boa forma, boa alimentação, etc.</p>
    <p><strong>Newsletter semanal</strong> sobre Alta Performance Profissional.</p>
    
    <h2>FREQUÊNCIA E DURAÇÃO</h2>
    <p><strong>Frequência</strong>: de um dia por semana a todos os dias da semana.</p>
    <p><strong>Período mínimo</strong>: de 3 meses</p>
    <p>Como o objetivo é um desenvolvimento a longo prazo das suas aptidões, o aproveitamento será maior mantendo regularidade do treinamento.</p>

    <h2>LOCAL</h2>
    <p><strong>Presencial</strong> nas cidades com consultores</p>
    <p>As aulas são ministradas no local mais adequado para você: na sua empresa, em casa ou nos estabelecimentos do Método DeRose</p>
    <p><strong>On-line</strong> em qualquer lugar do mundo</p>
    
    <h2>MÉTODOLOGIA</h2>
    <p>O seu Personal Teacher constrói um programa sob medida para desenvolver o seu potencial.</p>
    <p>Esse programa é a melhor forma de se aprimorar de maneira completa, nos níveis físico, emocional, mental e intuitivo.</p>
    <p>As praticas de 50 minutos, uma ou várias vezes por semana, são ideais para desenvolver a suas aptidões de forma profunda e duradoura. As conversas que seguem essas práticas permitem establecer suas metas de desenvolvimento e ensinar como aplicar as nossas ferramentas no seu dia-a-dia. Fora dos horários de aula, o Personal Teacher fica à sua disposição para responder às suas dúvidas e orientá-lo nas leituras e no treinamento.</p>
    <p>Semanalmente você receberá uma newsletter com textos de grande qualidade escritos pelos nossos Consultores Experts sobre temas como liderança, alta produtividade,relaçoēs humanas, qualidade de vida, boa forma, administração do stress, concentração e foco.</p>
    
    <h2>ALGUNS RESULTADOS PERCEBIDOS</h2>
    <p><strong>Nos primeiros meses:</strong></p>
    <p>Melhora na administração de stress</p>
    <p>Aumento da capacidade pulmonar</p>
    <p>Tônus muscular</p>
    <p>Flexibilidade</p>
    <p>Concentração</p>
    <p>Capacidade de descontração</p>
    <p>Estabilidade emocional</p>
    <p>Qualidade do descanso</p>
    <p>Nível de vitalidade</p>
    <p>Melhora geral na qualidade de vida</p>
    <br>
    <p><strong>Depois de alguns meses de prática regular:</strong></p>
    <p>Incremento na capacidade de liderança</p>
    <p>Melhora no nível de intuição</p>
    <p>Mais Criatividade</p>
    <p>Melhora na capacidade de administração de conflitos</p>
    <p>Aprimoramento na gestão de pessoas</p>
    <p>Aumento na Produtividade</p>
    <p>Crescimento pessoal e organizacional</p>
  </div>
</div>