    <h2>CONTEÚDO</h2>
    <p>Este programa foi desenvolvido para responder aos desafios dos Presidentes, CEOs e Altos Executivos. O conteúdo das consultorias é altamente profundo e individualizável. O seu <i>Consultor Expert</i> moldará o serviço de acordo com os seus interesses, expectativas e necessidades.</p>

    <h2>FREQUÊNCIA E DURAÇÃO</h2>
    <p>Frequência: 1 encontro semanal
        Passível de adaptações</p>
    <p>Duração: 3 a 6 meses</p>
    <p>Observação: a consultoria pode ser combinada com Personal Teaching ou Treinamento</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas as consultorias são ministradas exclusivamente pelos nossos <i>Consultores Experts</i>. Além de muito conhecimento técnico e de uma excelência em ensinar ferramentas para o aprimoramento pessoal, eles têm uma experiência de vida que os permite oferecer um olhar externo sobre a rotina e os hábitos do executivo com o propósito de catapultar a sua evolução e seu nível de realização. Todos eles contam com mais de 15 anos de ensino, têm ministrado consultorias e palestras em vários países e são considerados os melhores profissionais nas suas respectivas áreas.</p>

    <h2>LOCAL</h2>
    <p>Presencial nas cidades com Consultores Experts</p>
    <p>O acompanhamento será feito no local mais conveniente para você: na empresa, em casa ou nos estabelecimentos do Método DeRose</p>
    <p>On-line em qualquer lugar do mundo</p>

    <h2>METODOLOGIA</h2>
    <p>Os temas da consultoria são escolhidos em função das suas necessidades. Cada consultor desenvolveu áreas de conhecimento específicas. Escolheremos o consultor que responderá melhor às suas expectativas.</p>
    <p>Os encontros com os nossos Consultores Experts acontecerão uma vez por semana. Fora desses momentos, o consultor está comprometido a orientar e aconselhar o líder de sempre que houver disponibilidade. Ele o acompanhará de perto e transmitirá uma grande quantidade de conhecimento prático para o seu desenvolvimento pessoal e profissional.</p>

    <h2>PORQUE INVESTIR EM UMA CONSULTORIA?</h2>
    <p>Chega um momento na carreira de grandes líderes em que já se conquistou muito sucesso e que é preciso mais para ir além. Nesse ponto o contato com um outro ponto de vista permitirá atingir outros patamares de realização pessoal e de performance profissional. O que faz a diferença não são mais os números e os processos operacionais, e sim o porquê estamos trabalhando, onde queremos chegar e como o faremos. O valor de um acompanhamento personalizado que promove o despertamento e desenvolvimento de novas aptidões e faculdades é inestimável.</p>
