<div class="container">
  <div class="row">
    <h2>CONTEÚDO</h2>
    <p>Treinamento de <strong>15 minutos</strong> de técnicas respiratórias, corporais, de descontração muscular e de concentração mental</p>
    <p>A tecnicas são escolhidas <strong>sob medida</strong> em funcão das necesidades do momento</p>
    <p><strong>Newsletter semanal</strong> sobre Qualidade de Vida e Alta Performance</p>
    
    <h2>FREQUÊNCIA E DURAÇÃO</h2>
    <p><strong>Frequência</strong>: a parte técnica é transmitida de segunda a sexta-feira ou na periodicidade que melhor parecer ao contratante.</p>
    <p><strong>Período mínimo</strong>: de 3 meses</p>

    <h2>LOCAL</h2>
    <p><strong>Presencial</strong> nas cidades com consultores</p>
    <p>As aulas são ministradas no local mais adequado para você: na sua empresa, em casa ou nos estabelecimentos do Método DeRose</p>
    <p><strong>On-line</strong> em qualquer lugar do mundo</p>

    <h2>MÉTODOLOGIA</h2>
    <p>O treinamento de 15 minutos funciona como um Pit-Stop em que você recarrega seu nivel de energia. Em cada sessão, o consultor escolherá as tecnicas que respondam as suas necessidades do momento. Será o momentos de aprender técnicas para aumentar a sua vitalidade em pouquíssimo tempo, descontrair profundamente, administrar o seu estresse, treinar a sua concentração e capacidade de foco.</p>
    <p>Sempre que houver oportunidade, o instrutor transmitirá a cultura comportamental que tornou o Método DeRose proverbialmente conhecido por sua eficiência em preparar as pessoas para um bom relacionamento humano no trabalho e fora dele.</p>
    <p>Esse treinamento diario pode ser usado para completar as aulas de Personal Teaching. O líder poderá por exemplo ter umas de Personal Teaching de uma hora semanal e treinamentos de 15 mintuos diarios. Lembramos que a regularidade no treinamento das nossas ferramentas é essential para obter resultados expressivos.</p>


    <h2>ALGUNS RESULTADOS PERCEBIDOS</h2>
    <p><strong>Nos primeiros meses:</strong></p>
    <p>Melhora na administração de stress</p>
    <p>Aumento da capacidade pulmonar</p>
    <p>Tônus muscular</p>
    <p>Flexibilidade</p>
    <p>Concentração</p>
    <p>Capacidade de descontração</p>
    <p>Estabilidade emocional</p>
    <p>Qualidade do descanso</p>
    <p>Nível de vitalidade</p>
    <p>Melhora geral na qualidade de vida</p>
    <br>
    <p><strong>Depois de alguns mesês de prática regular:</strong></p>
    <p>Incremento na capacidade de liderança</p>
    <p>Melhora no nível de intuição</p>
    <p>Mais Criatividade</p>
    <p>Melhora na capacidade de administração de conflitos</p>
    <p>Aprimoramento na gestão de pessoas</p>
    <p>Aumento na Produtividade</p>
    <p>Crescimento pessoal e organizacional</p>
  </div>
</div>