<h2>MODALIDADES</h2>
<p>Frequência: sessões semanais de 1 hora ou sessões diárias 15 minutos</p>
<p>Duração: primeiro módulo de 3 meses</p>
<p>Participantes: sessões individuais ou em pequenos grupos</p>
<p>Local: As aulas serão ministradas no local mais conveniente para você - na sua empresa, na sua casa ou nos estabelecimentos do Método DeROSE</p>
<p>O programa extensivo pode também ser ministrado on-line em qualquer lugar do mundo</p>

<h2>CONTEÚDO</h2>
<p>Técnicas para aprimorar concentração, nível de vitalidade, capacidade respiratória, descontração, mentalização e o funcionamento do organismo como um todo.</p>
<p>Foco em conceitos para boa gestão de pessoas, bom relacionamento, alta produtividade, gestão do stress, administração de conflitos, boa forma, boa alimentação.</p>
<p>Newsletter semanal sobre Qualidade de Vida e Alta Performance</p>