    <h2>DURÉE</h2>
    <p>De 1 à 2 heure en fonction du thème et des besoins de l'entreprise</p>
    
    <h2>THÈMES</h2>
    <p>"Voici certains des thèmes abordés par nos spécialistes:<br>
      Leadership <br>
      Gestion du temps<br>
      Résolution des conflits<br>
      Relations Interpersonnelles<br>
      Haute Productivité<br>
      Gestion du stress<br>
      Ethique et Travail<br>
    "</p>

    <h2>OBJECTIF</h2>
    <p>Les conférences permettent d'approfondir un thème en accord avec les nécessités de l'entreprise. Elles ont pour objectif de provoquer une première prise de conscience ouvrant la possibilité de changements d'attitutde et de comportement au travail.</p>

    <h2>CONFÉRENCIERS</h2>
    <p>Toutes nos conférences sont données par nos Consultants Experts Certifiés. Ces derniers possèdent une expérience d'enseignement de plus 15 ans et accompagnent au quotidien de grands dirigeants dans leur évolution. Les conférences qu'ils proposent consittuent ainsi un temps d'apprentissage et de découvertes d'outils extremement efficaces pour devenir plus performant au quotidien. Ils donnent des conférences à l'international et sont considérés comme les meilleurs spécialistes dans leurs domaines d'expértises. </p>
