<hr/>
<div class="individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1>CRITÉRIOS DE SELEÇAO</h1>
  </div>
  <hr/>
  <div class="row individual-sidebar-body">
    Todos nossos programas tem um numero de vagas limitadas. As candidaturas passam por um rigoroso processo seletivo.

    Os criterios principais dos programas Personal Teaching e Treinamento são:
    <p>- Recomandação por alunos do Método DeRose</p>
    <p>- Cargo e nível de responsabilidade</p>
    <p>- Percuso profissional que demostre uma boa capacidade de crescimento pessoal</p>
    <p>- Motivação para entrar no programa</p>
  </div>
</div>