<div class="container">
  <div class="row">
    <h2>CONTEÚDO</h2>
    <p><strong>50 minutos de treinamento</strong>: respiração - força - flexibilidade - descontração - concentração</p>
    <p><strong>10 minutos de conversa</strong>: focada nos seu objetivos: Gestão do estresse, Administração de conflitos, Boa forma, Boa Alimentação</p>
    <p><strong>Newsletter semanal</strong> sobre Qualidade de Vida e Alta Performance</p>
    
    <h2>FREQUÊNCIA E DURAÇÃO</h2>
    <p><strong>Frequência</strong>: de um dia por semana a todos os dias da semana.</p>
    <p><strong>Período mínimo</strong>: de 3 meses</p>
    <p>Como o objetivo é um desenvolvimento a longo prazo das suas aptidões, o aproveitamento será maior mantendo regularidade do treinamento.</p>

    <h2>LOCAL</h2>
    <p><strong>Presencial</strong> nas cidades com consultores</p>
    <p>As aulas são ministradas no local mais adequado para você: na sua empresa, em casa ou nos estabelecimentos do Método DeRose</p>
    <p><strong>On-line</strong> em qualquer lugar do mundo</p>
    
    <h2>MÉTODOLOGIA</h2>
    <p>O nosso consultor constrói um programa sob medida para desenvolver o seu potencial.</p>
    <p>O Personal teaching é a melhor forma de treinar de forma completa e aprimorar-se em nível físico, emocional, mental e intuitivo.</p>
    <p>As praticas de 50 minutos, uma o varias vezes por semana, são ideais para desenvolver o seu potencial de forma profunda e duradoura. As conversas quem seguem essas práticas permite establecer suas metas de desenvolvimento e ensinar assim como ensinarle como aplicar as nossas ferramentas no seu dia dia. Fora dos hoarios de aula o Personal Teacher fica a sua disposição para responder as suas duvidas e le orientar nas suas leituras e no seu treinamento.</p>
    <p>Semanalmente, você receberá uma newsletter com textos de grande qualidade escritos pelos nossos 'consultores experts' sobre temas como Liderança, Alta Produtividade,Relaçoēs Humanas, Qualidade de vida, Boa Forma, Administração do Stress, Concentraçao e Foco.</p>

    <h2>ALGUNS RESULTADOS PERCEBIDOS</h2>
    <p><strong>Nos primeiros meses:</strong></p>
    <p>Melhora na administração de stress</p>
    <p>Aumento da capacidade pulmonar</p>
    <p>Tônus muscular</p>
    <p>Flexibilidade</p>
    <p>Concentração</p>
    <p>Capacidade de descontração</p>
    <p>Estabilidade emocional</p>
    <p>Qualidade do descanso</p>
    <p>Nível de vitalidade</p>
    <p>Melhora geral na qualidade de vida</p>
    <br><br>
    <p><strong>Depois de alguns mesês de prática regular:</strong></p>
    <p>Incremento na capacidade de liderança</p>
    <p>Melhora no nível de intuição</p>
    <p>Mais Criatividade</p>
    <p>Melhora na capacidade de administração de conflitos</p>
    <p>Aprimoramento na gestão de pessoas</p>
    <p>Aumento na Produtividade</p>
    <p>Crescimento pessoal e organizacional</p>
  </div>
</div>