<hr/>
<div class="individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1>MÉTODO DEROSE NA NESTLÉ</h1>
  </div>
  <div class="individual-sidebar-nestle-image">
    <%= image_tag 'nestle.png' %>
    <p>O Método DeROSE na Nestlé</p>
    <p>Profa. Rosana Ortega</p>
  </div>
</div>