<hr/>
<div class="individual-sidebar-container">
  <div class="row individual-sidebar-title">
  </div>
  <hr/>
  <div class="row individual-sidebar-body">
    <h1><%= t('static_pages.sidebar.volkswagen.name') %></h1>
    <p><%= t('static_pages.sidebar.volkswagen.position') %></p>
    <p><%= t('static_pages.sidebar.volkswagen.company') %></p>
    &lt;&lt;<%= t('static_pages.sidebar.volkswagen.content_html') %>&gt;&gt;
  </div>
</div>