    <h2>CONTENIDO</h2>
    <p>Esta consultoría fue desarrollada para responder a los desafios de los Presidentes, CEOs y altos ejecutivos.
      El contenido de las consultorías es altamente profundo e individualizado.
      Su Consultor Expert moldeará el servicio de acuerdo con sus intereses, expectativas e necesidades.</p>

    <h2>MODALIDADES</h2>
    <p>Frecuencia convencional: 1 hora por semana.</p>
    <p>Duración: de 3 a 6 meses.</p>
    <p>Observación: Este programa puede ser combinado con los Programas Intensivo o Extensivo.</p>

    <h2>LOCAL</h2>
    <p>Presencial en las ciudades donde tenemos Consultores o online en qualquier lugar del mundo.</p>
    <p>Cuando fuera presencial, la consultoría será prestada en el local más conveniente para usted: en su empresa,
      en su casa o en los estabelecimentos del Método DeR<span class="navbar-title-smallcaps">OSE</span>.</p>

    <h2>METODOLOGIA</h2>
    <p>Los temas de la consultoría son elegidos en función de sus necesidades. Cada consultor desarrolló áreas de
      conocimiento específicas. Elegiremos el consultor que responderá mejor a sus expectativas.</p>
    <p>Los encuentros con nuestros Consultores Experts serán una vez por semana. Fuera de esos momentos, o consultor
      estará comprometido a orientarlo y aconsejarlo remotamente siempre que sea posible.
      El lo acompañará de cerca y transmitirá una grande cantidad de conocimiento práctico para su desarrollo
      personal y profesional.</p>

    <h2>¿POR QUE INVERTIR EN UNA CONSULTORÍA?</h2>
    <p>Llega un momento en la carrera del líder, ejecutivo o empresario, en que ya se conquistó mucho éxito y es
      preciso algo más para ir más allá. </p>
    <p>En esta etapa, el contacto con otro punto de vista y una mirada externa permitirá que sean alcanzados
      nuevos niveles de realización personal y de performance profesional.</p>
    <p>Lo que hace la diferencia no son más los números y los procesos operacionales, y sí el porqué estamos trabajando,
      donde queremos llegar y como lo haremosEl valor de un acompañamiento personalizado en este sentido, que promueve
      el despertar y desarrollo de nuevas aptitudes y facultades, es inestimable.</p>

    <h2>CONSULTORES EXPERTS</h2>
    <p>Todas las consultorías son dadas exclusivamente por nuestros Consultores Experts.
      Además de mucho conocimiento técnico y de una excelencia en enseñar herramientas para mejorar al ser humano,
      tienen una experiencia de vida que les ¿permite aconsejar, recomendar y catapultar su evolución y su nivel de
      realización. Todos ellos cuentan con más de 15 años de enseñanza, han dictado consultorías y conferencias en varios
      países y son considerados los mejores profesionales en sus áreas.</p>
