<div class="container">
  <div class="row">
    <h1>THE PERSONAL TEACHING PROGRAM</h1>
    
    <h2>Objetivos</h2>
    <p>Aprenda ferramentas para desenvolver o seu potencial</p>
    <p>Desenvolva Alta Performance em todas as areas da sua vida</p>
    <p>Melhore a sua Qualidade de Vida</p>
    
    <h2>Metodología</h2>
    <p>O nosso consultor constrói um programa sob medida para desenvolver o seu potencial.</p>
    <p>O Personal teaching é a melhor forma de treinar de forma completa e aprimorar-se em nível físico, emocional, mental e intuitivo. + TESTEMUNHOS, DESCRIÇÃO DO PROGRAMA, INFORMAÇÕES DETALHADAS</p>

    <h2>Conteúdo</h2>
    <p>50 minutos de treinamento: respiração - força - flexibilidade - descontração - concentração</p>
    <p>10 minutos de conversa: focada nos seu objetivos: Gestão do estresse, Administração de conflitos, Boa forma, Boa Alimentação</p>

    <h2>Frequência e duração</h2>
    <p>Frequência: de um dia por semana a todos os dias da semana.</p>
    <p>Período mínimo: de 3 meses</p>
    <p>Como o objetivo é um desenvolvimento a longo prazo das suas aptidões, o aproveitamento será maior mantendo regularidade do treinamento.</p>

    <h2>Local</h2>
    <p>Presencial nas cidades com consultores (mouse em cima abre a lista de cidades)</p>
    <p>As aulas são ministradas no local mais adequado para você: na sua empresa, em casa ou nos estabelecimentos do Método DeRose</p>
    <p>On-line em qualquer lugar do mundo</p>
  </div>
</div>