    <h2>CONTENU</h2>
    <p>Entrainement de 15 minutes : augmentation de la capacité respiratoire, techniques corporelles qui stimulent la vitalité, décontraction musculaire, concentration mentale, etc.</p>
    <p>Les techniques sont choisies en fonction de vos objectifs.</p>
    <p>Newsletter hebdomadaire sur la Haute Performance Professionnelle.</p>
    
    <h2>FRÉQUENCE ET DURÉE</h2>
    <p>Fréquence : les entrainements sont réalisés de lundi à vendredi à la fréquence qui vous convient le mieux.</p>
    <p>Durée minimum : 3 mois.</p>

    <h2>LIEU</h2>
    <p>En direct dans toutes les villes de nos Personal Teachers. (Contactez-nous pour plus d'informations)</p>
    <p>Vous pouvez choisir le lieu dans lequel les cours vous sont donnés : au sein de votre entreprise, à domicile ou dans nos établissements DeR<span class="navbar-title-smallcaps">OSE</span>.</p>
    <p>Via internet dans le monde entier</p>

    <h2>MÉTODOLOGIE</h2>
    <p>L'entrainement de 15 minutes fonctionne comme un pit-stop durant lequel vous rechargez votre niveau d'énergie. Dans chaque sessions le Personal Teacher choisira les techniques qui correspondent le mieux à vos besoins du moment. Vous apprendrez ainsi à augmenter votre niveau de vitalité en quelques minutes, à mieux gérer votre stress ou encore à entrainer votre capacité à vous concentrer et à être focalisé sur vos objectifs.</p>
    <p>Le Personal Teacher vous transmettra également les concepts comportementaux qui ont rendus la Méthode DeR<span class="navbar-title-smallcaps">OSE</span> célèbre, en vous indiquant notamment comment développer d'excellentes relations interpersonnelles.</p>
    <p>Cet entrainement quotidien peut être utilisé en complément des programmes Personal Teaching et Consulting. Vous pourrez par exemple réaliser une heure de Personal Teaching chaque semaine et 15 minutes d'entrainement tous les jours. Il est important de rappeler que pratiquer nos outils de façon régulière est la condition sine qua non pour obtenir d'excellents résultats.</p>


    <h2>CERTAINS DES RÉSULTATS PERÇUS</h2>
    <p><strong>Dans les premiers mois:</strong></p>
    <p>Amélioration de la gestion du stress</p>
    <p>Augmentation de la capacité pulmonaire</p>
    <p>Tonus musculaire</p>
    <p>Plus de Souplesse</p>
    <p>Amélioration de la  concentration</p>
    <p>Meilleure capacité de décontraction</p>
    <p>Stabilité émotionnelle</p>
    <p>Meilleure capacité de repos</p>
    <p>Plus haut niveau de vitalité</p>
    <p>Amélioration globale de la qualité de vie</p>
    <br>
    <p><strong>Après quelques mois de pratique régulière:</strong></p>
    <p>Développement du leadership</p>
    <p>Développement de l'intuition</p>
    <p>Plus de créativité</p>
    <p>Meilleure résolution des conflits</p>
    <p>Meilleure gestion d'équipe</p>
    <p>Augmentation de la productivité</p>
    <p>Plus grande réalisation personnelle</p>
