<div class="container individual-consultory-container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#personal" data-toggle="tab" data-target=".personal, #personal-header">Personal Teaching</a>
          1h duas veces por semana
        </li>
        <li>
          <a href="#training" data-toggle="tab" data-target=".training, #training-header">Treinamento</a>
          15 minutos por día
        </li>
        <li>
          <a href="#consultory" data-toggle="tab" data-target=".consultory, #consultory-header">Consultorías</a>
          3 até 6 mêses
        </li>
        <li>
          <a href="#intensive" data-toggle="tab" data-target=".intensive, #intensive-header">Intensive Teaching</a>
          2 días
        </li>
      </ul>
      <div class="tab-content">
         <div id="personal" class="tab-pane active personal">
           <%= render 'individual_consultory_personal' %>
         </div>
         <div id="training" class="tab-pane training">
           <%= render 'individual_consultory_training' %>
         </div>
         <div id="consultory" class="tab-pane consultory">
           <%= render 'individual_consultory_consultory' %>
         </div>
         <div id="intensive" class="tab-pane intensive">
           <%= render 'individual_consultory_intensive' %>
         </div>
      </div>
    </div>
  </div>
</div>