    <h2>DURAÇÃO</h2>
    <p>4, 8 ou 16 horas, dependo dos temas e das necessidades da empresa</p>
    
    <h2>PALESTRANTES</h2>
    <p>Os Workshops são ministrados pelos nossos Consultores Experts. Além de muito conhecimento técnico e de uma excelência em ensinar ferramentas para melhorar o ser humano, eles têm uma vasta experiência que torna a vivência ainda mais rica. Todos eles contam com mais de 15 anos de ensino e têm ministrado palestras em vários países. São considerados os melhores profissionais nas suas respectivas áreas.</p>

    <h2>METODOLOGIA</h2>
    <p>Alguns dos conteúdos que podem ser abordados são: boas relações humanas, administração de conflitos, gestão de stress, alta produtividade, foco, reprogramação emocional e administração de tempo. Todas as palestras e workshops trasmitem conhecimentos que podem ser traduzidos em novas práticas no dia a dia, efetivamente trazendo uma influência positiva para a forma de lidar com o trabalho e a vida pessoal.</p>
