<h2>MODALIDADES</h2>
<p>Frequência: sessões semanais de 1 hora ou sessões diárias 15 minutos.</p>
<p>Duração: primeiro módulo de 3 meses.</p>
<p>Participantes: sessões individuais ou em pequenos grupos.</p>
<p>Local: As aulas serão ministradas no local mais conveniente para você - na sua empresa, na sua casa ou nos estabelecimentos do Método DeROSE.</p>
<p>O programa extensivo pode também ser ministrado on-line em qualquer lugar do mundo.</p>

<h2>CONTEÚDO</h2>
<p>Técnicas para aprimorar concentração, nível de vitalidade, capacidade respiratória, descontração, mentalização e o funcionamento do organismo como um todo.</p>
<p>Foco em conceitos para boa gestão de pessoas, bom relacionamento, alta produtividade, gestão do stress, administração de conflitos, boa forma, boa alimentação.</p>
<p>Newsletter semanal sobre Qualidade de Vida e Alta Performance.</p>

<h2>METODOLOGIA</h2>
 
<p>As técnicas que compõem a parte prática do treinamento, quando executadas uma ou mais vezes por semana, são ideais para aumentar a sua vitalidade, torná-lo mais produtivo e ensiná-lo a gerir melhor o stress de forma sustentável.</p>
<p>Por outro lado, as conversas que compões a parte teórica permitem que você defina metas específicas e aprenda através das nossas ferramentas a aprimorar e incrementar a sua vida diária. Além das sessões e encontros regulares, seu treinador estará à sua disposição para orientá-lo e responder às suas perguntas. Você aprenderá a desenvolver suas habilidades físicas, emocionais e mentais.</p> 
<p>Você também receberá um boletim semanal com excelentes textos escritos por nossos consultores especialistas, a fim de se aprofundar sobre vários temas como liderança, produtividade do trabalho, relações interpessoais, qualidade de vida, bem-estar, gestão do stress e concentração.</p>


<h2>RESULTADOS ESPERADOS</h2>

<p><strong>Nos primeiros meses:</strong></p>
<p>Melhor gestão do stress</p>
<p>Aumento da capacidade pulmonar</p>
<p>Melhora do tônus muscular e flexibilidade</p>
<p>Aprimoramento da concentração</p>
<p>Melhora da estabilidade emocional</p>
<p>Aumento da vitalidade</p>

<p><strong>Após alguns meses:</strong></p>
<p>Maior eficiência profissional e pessoal</p>
<p>Desenvolvimento da intuição</p>
<p>Mais criatividade</p>
<p>Melhoria na resolução de conflitos</p>
<p>Melhor gestão de equipe e pessoas</p>
<p>Incremento geral da qualidade de vida</p>