    <h2>DURATION</h2>
    <p>Four, eight or sixteen hours, depending on the necessities of the company.</p>
    
    <h2>SPEAKERS</h2>
    <p>All workshops are conducted under the supervision of one of our Expert Consultants. Aside from their technical knowledge and excellence in teaching tools for self-improvement, they they have extensive experience that enables them to advise, provide assistence and help accelerate the leader's professional development and the level of achievement. They all have over 15 years of teaching, having provided consulting and taught lectures in several countries, and are considered to be the best professionals in their fields.</p>

    <h2>EXPERT CONSULTANTS</h2>
    <p>All consulting services are taught exclusively by our Expert Consultants. Aside from their extensive technical knowledge and excellent ability to teach the tools necessary to enhance people, their experience enables them to advise, make recommendations and catapult your evolutionary progress and levels of achievement. They all have over 15 years of teaching, having provided consulting and taught lectures in several countries and are considered to be the best professionals in their respective areas.</p>
