    <h2>CONTENU</h2>
    <p>Ce programme à été développé pour répondre aux défis des Présidents, des CEOs et des cadres dirigeants. Le contenu du coaching est entièrement construit sur mesure. Le  consultant expert établira lors des premières rencontres un bilan précis des compétences que vous souhaitez développer. Il pourra ainsi vous offrir les meilleurs outils pour atteindre les objectifs que vous vous êtes fixés.</p>
    
    <h2>MODALITÉS</h2>
    <p>Fréquence classique : une rencontre d'une heure par semaine. La fréquence et la durée pourront être adaptés en fonction de vos disponibilités. </p>
    <p>Durée : 3 à 6 mois, en fonction des problématiques abordées.</p>
    <p>Observation : le programme de Coaching pourra être accompagné de Formations intensives ou extensives.  </p>
    <p>Lieu : Présentiel dans les villes de DeRose For Leaders ou via Internet.
    Au sein de votre entreprise, à domicile ou dans nos établissements.</p>

    <h2>CONSULTANTS EXPERTS</h2>
    <p>Les Coachings de dirigeants sont proprosés exclusivement par nos consultants les plus expérimentés. Ils sont selectionnés pour l'excellence avec laquelle ils transmettent les outils de notre méthodologie. Ils bénéficient tous d'une longue expérience d'enseignement et peuvent ainsi vous conseiller et vous accompagner de façon extrêmement précise et efficace. Tous nos consultants experts sont conférenciers à l'international.</p>

    <h2>MÉTHODOLOGIE</h2>
    <p>Les thèmes développés durant le coaching sont choisis en fonction de vos besoins. Les entretiens ont lieu une fois par semaine. Le consultant expert  cherchera à vous faire progresser le plus rapidement possible. Il vous accompagnera afin que votre coaching constitue une véritable période d'apprentissage et de progression. Il sera ainsi à vos côtés pour vous transmettre un grand nombre de connaissances qui vous permettrons de vous développer au niveau personnel et professionnel.</p>

    <h2>POURQUOI RÉALISER UN COACHING DIRIGEANTS ?</h2>
    <p>Vous pouvez ressentir à certains moments de votre carrière qu'il vous faut quelque chose pour aller encore plus loin. C'est à ce moment là qu'un regard extérieur sur votre comportement, votre routine et vos habitudes peut vous permettre d'atteindre un tout autre niveau de performance et de réalisation personnelle. Il est alors indispensable  d’avoir à ses côtés quelqu’un de grande valeur en mesure de vous orienter et de vous faire évoluer positivement.</p>
