<div class="container">
  <div class="row page-title-container net-header">
    <div class="col-md-4 col-md-offset-7" id="net-header-container">
      <div class="page-header-title">
        <%= t('static_pages.net.header.title') %>
      </div>
    </div>
  </div>
</div>