<div class="container">
  <div class="row net-data">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <div class="net-number">
            100
          </div>  
          <div class="net-info">
            establecimentos
          </div>
        </div>
        <div class="col-md-3">
          <div class="net-number">
            600
          </div>  
          <div class="net-info">
            consultores
          </div>
        </div>
        <div class="col-md-3">
          <div class="net-number">
            +10
          </div>  
          <div class="net-info">
            paises
          </div>
        </div>
        <div class="col-md-3">
          <div class="net-number">
            +30
          </div>  
          <div class="net-info">
            empresas parceiras
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row net-body-container padding-topbottom-50">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-8 net-body-info">
              Dispomos de Personal Teachers que podem ministrar sessões particulares em qualquer cidade do Brasil e em qualquer parte do mundo, inclusive, acompanhando o aluno em suas viagens de negócios ou de passeio.
              O nossos profisionais atuam em praticamente todo o Brasil e ainda Argentina, Chile, Portugal, Espanha, França, Inglaterra, Escócia, Itália, Luxemburgo e Estados Unidos (inclusive Havaí).
              O contratante pode escolher a língua em que deseja que suas aulas sejam ministradas: português, espanhol, francês, inglês, italiano, alemão, holandês, finlandês, hebraico, árabe e catalão.
            </div>
            <div class="col-md-4 page-link-button">
              <span>
                <a href="group_consultory">VER NOSSOS PROGRAMAS</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>