<div class="row page-title-container our-consultors-header-container">
  <div class="col-md-4 col-md-offset-1">
    <div class="page-header-title">
      <%= t('static_pages.our_consultors.header.title') %>
    </div>
    <div class="page-header-subtitle">
    </div>
  </div>
</div>