<div class="container partners-container padding-topbottom-50">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 partners-title-container">
      <div class="home-section-title">
        NOSSOS PARECEIROS
      </div>
      <div class="home-section-subtitle">
        SEE WHO TRUST US
      </div>
    </div>
  </div>
  <div class="row partners-images-container">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row partners-images-row">
          <div id="partners-first-logo">
            <a href="enterprise_testimonials">
              <div class="partners-image coca"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image nestle"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image adidas"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image exxon"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image banco-de-chile"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image johnsons"></div>
            </a>
          </div>
          <div id="partners-last-logo">
            <a href="enterprise_testimonials">
              <div class="partners-image natura"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span style="display:none">
  <img src="coca_cola-hover.png">
  <img src="nestle-hover.png">
  <img src="adidas-hover.png">
  <img src="exxon-hover.png">
  <img src="banco_de_chile-hover.png">
  <img src="johnsons-hover.png">
  <img src="natura-hover.jpg">
</span>