<div class="container partners-container padding-topbottom-50">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 partners-title-container">
      <div class="home-section-title">
        NOSSOS PARECEIROS
      </div>
      <div class="home-section-subtitle">
        SEE WHO TRUST US
      </div>
    </div>
  </div>
  <div class="row partners-images-container">
    <div class="col-md-10 col-md-offset-1 no-padding">
      <div class="table-responsive">
        <table>
          <tr>
            <td><a href="enterprise_testimonials" class="partners-image petrobras"></a></td>
            <td><a href="enterprise_testimonials" class="partners-image google"></a></td>
            <td><a href="enterprise_testimonials" class="partners-image adidas"></a></td>
            <td><a href="enterprise_testimonials" class="partners-image visa"></a></td>
            <td><a href="enterprise_testimonials" class="partners-image park-hyatt"></a></td>
            <td><a href="enterprise_testimonials" class="partners-image exxon"></a></td>
            <td><a href="enterprise_testimonials" class="partners-image itau"></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>