<div class="container programme-container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="programme-title">
        NOSSOS PROGRAMAS
      </div>
      <div class="programme-subtitle">
        INVISTA EM PROGRAMAS SOB MEDIDA
      </div>
    </div>
    <div class="col-md-8 subprogramme-container">
      <div class="col-md-6 programme-option">
        <div class="container">
          <div class="row programme-header">
            <span>PARA INDIVÍDUOS</span>
          </div>
          <div class="container programme-border-left">
            <div class="row single-programme-row">
              <div class="col-md-6">
                <div class="programme-subheader">
                  CONSULTING PERSONNEL
                </div>
                <div class="programme-text">
                  Un accompagnement sur une durée de 6 mois.
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="programme-subheader">
                  PERSONAL TEACHING
                </div>
                <div class="programme-text">
                  Des outils concrets et efficaces pour am&eacute;lorier vos performances selon vos objectifs.
                </div>
              </div>
            </div>
            <div class="row more-programme">
              <a href="#">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 programme-option">
        <div class="container">
          <div class="row programme-header">
            <span>PARA EMPRESAS</span>
          </div>
          <div class="container programme-border-left programme-border-right">
            <div class="row single-programme-row">
              <div class="col-md-6 ">
                <div class="programme-subheader">
                  CONFÉRENCES
                </div>
                <div class="programme-text">
                  Des conférences données par des professionnels ayant au moins 10 ans d'expérience.
                </div>
              </div>
              <div class="col-md-6">
                <div class="programme-subheader">
                  WORKSHOPS
                </div>
                <div class="programme-text">
                  Organisés dans le cadre de votre entreprise.
                </div>
              </div>
            </div>
            <div class="row more-programme">
              <a href="#">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
