<div class="container programme-container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 programme-title">
      <div class="programme-box">
        NOS PROGRAMMES
      </div>
    </div>
    <div class="col-md-4 programme-option">
      <div class="container">
        <div class="row programme-header">
          FOR INDIVIDUAL
        </div>
        <div class="container">
          <div class="row single-programme-row">
            <div class="col-md-6">
              <div class="programme-subheader">
                CONSULTING PERSONNEL
              </div>
              Un accompagnement sur une durée de 6 mois.
            </div>
            <div class="col-md-6 with-left-border">
              <div class="programme-subheader">
                PERSONAL TEACHING
              </div>
              Un accompagnement sur une durée de 6 mois.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 programme-option">
      <div class="container">
        <div class="row programme-header">
          FOR COMPANIES
        </div>
        <div class="container">
          <div class="row single-programme-row">
            <div class="col-md-6">
              <div class="programme-subheader">
                WORKSHOPS
              </div>
              Un accompagnement sur une durée de 6 mois.
            </div>
            <div class="col-md-6 with-left-border">
              <div class="programme-subheader">
                CONFERENCES
              </div>
              Un accompagnement sur une durée de 6 mois.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
