<div class="container programme-container padding-topbottom-50">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="home-section-title">
        NOSSOS PROGRAMAS
      </div>
      <div class="home-section-subtitle hover-gold">
        INVISTA EM PROGRAMAS SOB MEDIDA
      </div>
    </div>
    <div class="col-md-7 subprogramme-container">
      <div class="container">
        <div class="row">
          <div class="col-md-6 programme-option">
            <div class="container">
              <div class="row programme-header hover-gold">
                <span>PARA INDIVÍDUOS</span>
              </div>
              <div class="container programme-border-left">
                <div class="row single-programme-row">
                  <div class="col-md-6 without-padding-left-or-right">
                    <div class="hover-gold">
                      <div class="programme-subheader">
                        PERSONAL TEACHING
                      </div>
                      <div class="programme-subsubheader">
                        1h duas vezes/semana
                      </div>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; Aprenda ferramentas para desenvolver o seu potencial
                        </li>
                        <li>
                          &#8226; Desenvolva Alta Performance em todas as areas da sua vida
                        </li>
                        <li>
                          &#8226; Melhore a sua Qualidade de Vida
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 without-padding-left-or-right">
                    <div class="hover-gold">
                      <div class="programme-subheader">
                        CONSULTORIAS
                      </div>
                      <div class="programme-subsubheader">
                        3 ou 6 meses
                      </div>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; Alta Produtividade
                        </li>
                        <li>
                          &#8226; Viver e trabalhar melhor
                        </li>
                        <li>
                          &#8226; Comportamento, Etica e Resultados
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 programme-option">
            <div class="container">
              <div class="row programme-header hover-gold">
                <span>PARA EMPRESAS</span>
              </div>
              <div class="container programme-border-left programme-border-right">
                <div class="row single-programme-row">
                  <div class="col-md-6 without-padding-left-or-right">
                    <div class="hover-gold">
                      <div class="programme-subheader">
                        SMALL GROUP TEACHING
                      </div>
                      <div class="programme-subsubheader">
                        1h duas vezes/semana
                      </div>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; Reforçar os vínculos entre os líderes
                        </li>
                        <li>
                          &#8226; Desenvolver Alta Performance profissional
                        </li>
                        <li>
                          &#8226; Melhorar a Qualidade de Vida
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 without-padding-left-or-right">
                    <div class="hover-gold">
                      <div class="programme-subheader">
                        WORKSHOPS
                      </div>
                      <div class="programme-subsubheader">
                        4,8 ou 16 horas
                      </div>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; Administraç&atilde;o de tempo
                        </li>
                        <li>
                          &#8226; Administraç&atilde;o dos conflitos
                        </li>
                        <li>
                          &#8226; Gest&atilde;o do estresse
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row programme-show-with-plus">
          <div class="col-md-6 programme-option">
            <div class="container">
              <div class="container programme-border-left">
                <div class="row single-programme-row">
                  <div class="col-md-6 without-padding-left-or-right">
                    <div class="hover-gold">
                      <div class="programme-subheader">
                        TREINAMENTO
                      </div>
                      <div class="programme-subsubheader">
                        15 minutos por día
                      </div>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; Favoreça sua Alta Produtividade
                        </li>
                        <li>
                          &#8226; Aprimore sua Boa Forma
                        </li>
                        <li>
                          &#8226; Desenvolva o seu Bem Estar
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- div class="col-md-6 without-padding-left-or-right">
                    <div class="hover-gold">
                      <div class="programme-subheader">
                        INTENSIVE TEACHING
                      </div>
                      <div class="programme-subsubheader">
                        2 días
                      </div>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; Alta Produtividade
                        </li>
                        <li>
                          &#8226; Viver e trabalhar melhor
                        </li>
                        <li>
                          &#8226; Comportamento, Etica e Resultados
                        </li>
                      </ul>
                    </div>
                  </div -->
                </div>
              </div>
            </div>
          </div>
            <div class="col-md-6 programme-option">
              <div class="container">
                <div class="container programme-border-left programme-border-right">
                  <div class="row single-programme-row">
                    <div class="col-md-6 without-padding-left-or-right">
                      <div class="hover-gold">
                        <div class="programme-subheader">
                          SMALL GROUP TRAINING
                        </div>
                        <div class="programme-subsubheader">
                          15 minutos por día
                        </div>
                      </div>
                      <div class="programme-text">
                        <ul>
                          <li>
                            &#8226; Manter a boa forma
                          </li>
                          <li>
                            &#8226; Proporcionar um momento de bem estar
                          </li>
                          <li>
                            &#8226; Favorecer a Alta Produtividade
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6 without-padding-left-or-right">
                      <div class="hover-gold">
                        <div class="programme-subheader">
                          PALESTRAS
                        </div>
                        <div class="programme-subsubheader">
                          2 ou 4 horas
                        </div>
                      </div>
                      <div class="programme-text">
                        <ul>
                          <li>
                            &#8226; Alta Performance
                          </li>
                          <li>
                            &#8226; Qualidade de Vida
                          </li>
                          <li>
                            &#8226; Administraç&atilde;o dos conflitos
                          </li>
                          <li>
                            &#8226; Gest&atilde;o do estresse
                          </li>
                          <li>
                            &#8226; Gestão emocional
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row programme-plus">
          <div class="col-md-6 programme-option">
            <div class="row more-programme">
              <a href="#">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </div>
          </div>
          <div class="col-md-6 programme-option">
            <div class="row more-programme">
              <a href="#">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="row programme-minus">
          <div class="col-md-6 programme-option">
            <div class="row less-programme">
              <a href="#">
                <span class="glyphicon glyphicon-minus-sign"></span>
              </a>
            </div>
          </div>
          <div class="col-md-6 programme-option">
            <div class="row less-programme">
              <a href="#">
                <span class="glyphicon glyphicon-minus-sign"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
