<div class="container">
  <div class="row recommend-page-title-container recommend-header">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header-title">
        <%= t('recommend.header.title') %>
      </div>
      <div class="page-header-subtitle">

      </div>
    </div>
  </div>
</div>
