<div class="container">
  <div class="row">
    <div class="carousel">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'slide1.jpg', class: 'slide-images' %>
            <div class="carousel-caption">
              <a href="#" class="you-know-phrase">YOU KNOW HOW YOUR BUSINESS WORKS<br>
          WE KNOW HOW <span class="you-emphasis gold-color">YOU</span> WORK</a>
            </div>
          </div>
            <div class="item">
              <%= image_tag 'slide2.jpg', class: 'slide-images' %>
              <div class="carousel-caption">
                <a href="#">YOU HAVE THE GOALS<br>
                WE HAVE THE TOOLS</a>
              </div>
            </div>
            <div class="item">
              <%= image_tag 'slide3.jpg', class: 'slide-images' %>
              <div class="carousel-caption">
                <a href="#">IN THE BUSINESS WORLD,<br>
                HUMAN BEING IS WHAT REALLY MATTERS</a>
              </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>