<div class="container individual-consultory-container padding-topbottom-50 more-bottom-padding-100">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="container">
              <div class="row page-title">
                ALUMNI DEPOIMENTOS
              </div>
              <div class="row testimonials-page-main-body">
                <p>The experience of DeROSE Method shared by our students and sucessful cases.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row single-testimonials">
          <div class="col-md-3">
            <div class="individual-sidebar-container">
              <hr/>
              <div class="row individual-sidebar-body">
                
              </div>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-2">
            sdasdasdas
          </div>
        </div>
        <div class="row enterprise-testimonials-footer">
          <div class="col-md-6">
            <%= image_tag "nestle_logo.jpg" %>
          </div>
          <div class="col-md-3">
            <div class="container">
              <div class="row">
                “Meu bem-estar melhorou sensivelmente desde que comecei a praticar o Método DeROSE.”
              </div>
              <div class="row">
                <h2>Renata Ribeiro</h2>
                Consumer Insight Head at Nestlé Brazil
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="container">
              <div class="row">
                “Acho que o Programa do Método DeRose na nossa empresa está muito bem conduzido.”
              </div>
              <div class="row">
                <h2>Nanci Yamada</h2>
                Especialista Desenvolvimento e R&S at Nestle Brazil
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>