<% 
  meta title: "DeRose For Leaders",
        description: "DeRose For Leaders",
        og: {
          description: "DeRose For Leaders",
          image: "http://www.deroseforleaders.com/assets/logo_derose_method.png",
          url: root_url,
          title: "DeRose For Leaders"
        },
        twitter: {
          card: "summary",
          description: "DeRose For Leaders",
          site: "@deroseforleaders",
          image: "http://www.deroseforleaders.com/assets/logo_derose_method.png"
        }
%>
<div class="container">
  <%= render "slideshow" %>
  <%= render "programmes" %>
  <div class="row articles-line"></div>
  <%= render "articles" %>
  <%= render "partners" %>
</div>


