<div class="container">
  <div class="row the-method-banner">
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <div class="row the-method-title gold-color">
        LA M<span class="navbar-title-smallcaps">ÉTHODE</span> DeR<span class="navbar-title-smallcaps">OSE</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <div class="row the-method-title">
        LA M<span class="navbar-title-smallcaps">ÉTHODE</span> DeR<span class="navbar-title-smallcaps">OSE</span>
      </div>
      <div class="row the-method-subtitle">
        LEARN ABOUT OUR PROPOSAL
      </div>
      <div class="row the-method-text-container">
        <p>O Método DeROSE oferece um conjunto de ferramentas para que líderes como você consigam desenvolver inteligências na área emocional, mental e intuitiva, ter uma produtividade mais focada, administrar equipes de maneira sábia e lidar com situações de pressão com sutileza. Também ensina a colocar o foco em si mesmo, no aprimoramento pessoal através de técnicas físicas e conceitos comportamentais que ajudam a transformar não só o indivíduo, como o mundo a seu redor.</p>
        <p>
          O Método DeROSE é uma proposta de qualidade de vida e alta performance, que consiste em técnicas e conceitos que visam dar Alta Perfomance ao indivíduo, preconizando principalmente as boas relações humanas. Quando surgiu o Método DeROSE: estamos no mercado desde 1960. Os conceitos consistem em reeducação comportamental, boa alimentação, boa forma, boas relações humanas, boas maneiras, boa cultura, bons ideais e bom ambiente. Através deles, é possível conquistar integração no trabalho, na família, no esporte e em outras esferas da vida. No primeiro momento, aplicamos a reeducação respiratória, as técnicas orgânicas, exercícios de concentração e de gerenciamento do estresse.
        </p>
      </div>
    </div>
  </div>
</div>