<div class="container articles-header-container">
  <div class="row">
    <div class="col-md-1 col-md-offset-1 articles-main-logo">
      <%= link_to root_url do %>
        <%= image_tag 'logo_mdl.png' %>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-4 articles-main-logo">
      <div class="container">
        <div class="row articles-go-to-homepage">
          <div class="col-md-12">
            GO TO <%= link_to "DEROSEFORLEADERS.COM", root_url %>
          </div>
          <!-- div class="col-md-3">
            <%= render "layouts/languages" %>
          </div -->
        </div>
        <div class="row articles-main-title pull-right">
          THE NEWSPAPER FOR LEADERS
        </div>
      </div>
    </div>
  </div>
</div>