<div class="row author-container">
  <div class="col-md-5 author-image-container">
    <%= image_tag author.avatar %>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <h2><%= author.first_name %> <%= author.last_name %></h2>
        <p><%= author.bio %></p>
      </div>
    </div>
  </div>
</div>