.derose-method-header {
  background-image: url('derose_method_header.jpg');
  background-position: 0% 0%;
}

.page-footer-image-container.right > img {
  margin-left: -90px;
}

.page-footer-image-container.left > img {
  margin-left: -80px;
}

.page-footer-image-container.left-30 > img {
  margin-left: -30px;
}

#derose-method-subtitle {
  padding-top: 10px;
}