html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}

/* @media (max-width: @screen-xs) {
  body {font-size: 10px}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}*/

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer img{
  height: 100%;
}

.jumbotron p{
  text-align: center;
}

.jumbotron h1{
  text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
  width: auto;
  /*max-width: 680px;*/
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}



/* HEADER */

.header-container {
  min-height: 136px;
  background: #273451 url("../images/u4774-grad.png") repeat-x left top;
  background: -webkit-gradient(linear, center top, center bottom, from(#000B1A),color-stop(80%, #273451));
  background: -webkit-linear-gradient(top,#000B1A ,#273451 80%);
  background: -moz-linear-gradient(top,#000B1A ,#273451 80%);
  background: -ms-linear-gradient(top,#000B1A ,#273451 80%);
  background: -o-linear-gradient(top,#000B1A ,#273451 80%);
  background: linear-gradient(to bottom,#000B1A ,#273451 80%);
  border-style: none;
  border-color: transparent;
  position: relative;
}

.header-main-row {
  min-height: 136px;
}

.image-row {
 min-height: 136px;
}

.image-row a {
  line-height: 136px;
}

.image-row img {
 padding-top: 15px;
 height: 130px;
}

.header-text-row {
  padding-top: 30px;
}

/*@media (max-width: @screen-xs) {
  .teaching-phrase {font-size: 10px}
}

@media (max-width: @screen-sm) {
  .teaching-phrase {font-size: 10px}
}*/


.teaching-phrase {
  text-align: right;
  color: #D3BB69;
  min-height: 45px;
  /*line-height: 45px;*/
  position: relative;
  width: 100%;
}

.teaching-phrase-location {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: 2px;
  position: absolute;
  bottom: -8px;
  right: 15px;
}

.countries-header {
  min-height: 45px;
  line-height: 45px;
  position: relative;
  color: #FFF;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: right;
}

/*.countries-list {
  position: absolute;
  bottom: 0px;
  right: 0px;
}*/

/* LANGUAGES */

.languages-row {
  padding-top: 10px;
}

.languages-row img {
  max-width: 27px;
  max-height: 20px;
}

/* NAVBAR */

#navbar-collapse {
  /*padding-top: 5px;
  padding-bottom: 5px;*/
}

.navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-nav > li.active {
  background-color: #001737;
}

.navbar-nav > li.active > a {
  color: #D3BB69;
}

ul.dropdown-menu {
  background: #FFFFFF image-url("blizzard.jpg") repeat left top;
}

/*.affix > .container-fluid > #navbar-collapse > ul {
  margin-left: -60px;
}*/

.navbar {
  background: #FFFFFF image-url("blizzard.jpg") repeat left top;
}

/*.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}*/
/*@media (min-width: 768px){
  .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}*/

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .recommend-page-title-container > div > .page-header-title {
        font-size: 50px;
    }
}

.my-affix {
  background-color: white;
  /*margin-bottom: 0px;*/
  border-radius: 0;
  /*border-width: 0px;*/
}

.affix-top > .container-fluid > .navbar-header  img{
  display: none;
}

.affix > .container-fluid > .navbar-header {
  display: block;
  height: 35px;
}

.affix > .container-fluid > .navbar-header img{
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.icon-bar {
  background-color: #cccccc;
}

.navbar-toggle {
  border-color: #dddddd;
}

.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
    /*max-height: 35px;*/
}

.navbar-nav a{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  color: #273451;
  text-align: left;
  font-weight: 700;
}

.navbar-title-smallcaps {
  font-size: 85%;
}

.nav>li>a:hover {
  background-color: #001737;
  color: #D3BB69;
}

.nav>li>a:focus {
  background-color: #001737 !important;
  color: #D3BB69;
}

.navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 0px;
}

.navbar:not(.affix){
  border:0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

 .dropdown > ul {
  background-color: white;
  width: 250px;
  text-align: left;
 }

.navbar-non-clickable {
  padding: 3px 20px;
}

.dropdown > ul > li {
  color: #AE9029;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 16px;
 }

 .dropdown > ul > li > a.gold-title {
  color: #AE9029;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 16px;
 }

 .dropdown > ul > li > a {
  color: #273451;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 16px;
 }

 .dropdown > ul > li > a:hover {
  background-color: #273451;
  color: #AE9029;
 }

 .dropdown > ul > li > div > ul > li > a.gold-title {
  color: #AE9029;
  font-size: 13px;
 }

 .dropdown > ul > li > div > ul > li {
  color: #AE9029;
 }

 .dropdown > ul > li > div > ul > li > a.gold-title {
  color: #AE9029;
  font-size: 13px;
 }

 .dropdown > ul > li > div > ul > li > a{
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
  padding: 3px 20px;
 }

 .dropdown > ul > li > div > ul > li > a:hover {
  background-color: #273451;
  color: #AE9029;
  text-decoration: none;
 }

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;}

/* MOBILE NAVBAR */

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    /*padding-top: 70px;*/
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/*  */
@media (max-width:767px) {
  #page-content {
      top: 30px !important;
  }
  #slide-nav .container {
      margin: 0!important;
      padding: 0!important;
      height:100%;
  }
  #slide-nav .navbar-header {
      margin: 0 auto;
      padding: 0 15px;
  }
  #slide-nav .navbar.slide-active {
      position: absolute;
      width: 80%;
      top: -1px;
      z-index: 1000;
  }
  #slide-nav #slidemenu {
      background: #f7f7f7;
      left: -100%;
      width: 80%;
      min-width: 0;
      position: absolute;
      padding-left: 0;
      z-index: 2;
      top: -8px;
      margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav {
      min-width: 0;
      width: 100%;
      margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
      min-width: 0;
      width: 80%;
      white-space: normal;
  }
  #slide-nav {
      border-top: 0
  }
  #slide-nav.navbar-inverse #slidemenu {
      background: #333
  }
  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #navbar-height-col {
      position: fixed;
      top: 0;
      height: 100%;
      bottom:0;
      width: 80%;
      left: -80%;
      background: #f7f7f7;
  }
  #navbar-height-col.inverse {
      background: #333;
      z-index: 1;
      border: 0;
  }
  #slide-nav .navbar-form {
      width: 100%;
      margin: 8px 0;
      text-align: center;
      overflow: hidden;
      /*fast clearfixer*/
  }
  #slide-nav .navbar-form .form-control {
      text-align: center
  }
  #slide-nav .navbar-form .btn {
      width: 100%
  }
}
@media (min-width:768px) {
  #page-content {
      left: 0 !important;
  }
  .navbar.navbar-fixed-top.slide-active {
      position: fixed;
  }
  .navbar-header {
      left: 0 !important;
  }
}

.mobile-navbar > li > a {
  background-color: #001737;
  color: #D3BB69;
}


/* GENERAL TITLES AND SUBTITLES */

.home-section-title {
  color: #273451;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  /*letter-spacing: 1px;*/
  font-weight: 400;
}

.home-section-subtitle {
  color: #4B4C85;
  font-family: 'Roboto', sans-serif;
  /*font-size: 20px;*/
  font-weight: 300;
  /*letter-spacing: 1px; */
  font-size: 18px;
  text-transform: uppercase;
}

.page-title-container {
  background-size: auto 100%;
  min-height: 263px;
}

.page-title-background {
  min-height: 263px;
  background: none repeat scroll 0% 0% rgba(39, 52, 81, 0.8);
}

.page-header-title {
  /*line-height: 29px;*/
  color: #D3BB69;
  font-size: 24px;
  /*letter-spacing: 2px;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 6px;
}

.page-header-subtitle {
  font-size: 18px;
  /*line-height: 23px;*/
  color: #E9E6E6;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: left;
}

.page-header-subtitle > h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #E9E6E6;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.page-header-subtitle > p {
  margin-bottom: 0px;
}

.page-title {
  color: #273451;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  /*letter-spacing: 1px;*/
  font-weight: 400;
  padding-top: 18px;
  padding-bottom: 12px;
}

.page-subtitle {
  color: #4B4C85;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}

.page-main-body {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 14px;
  /*line-height: 20px;*/
  color: black;
}

.page-main-body > p {
  padding-bottom: 6px;
}

.page-main-body > h5 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  /*line-height: 20px;*/
  font-weight: 700;
  /*padding-top: 6px;*/
  margin-bottom: 6px;
  margin-top: 20px;
}

.page-main-body > ul {
  padding-left: 15px;
}

.page-link-button {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.page-link-button > span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  border-width: 1px;
  border-style: solid;
  border-color: #D3BB69;
  background-color: #001737;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

.page-link-button > span > a {
  color: white;
}

.page-link-button > span > a:hover {
  color: #D3BB69;
  text-decoration: none;
}

.sidebar-presentation-video {
  padding-bottom: 50px;
}

.sidebar-facts > img {
  width: 320px;
  height: 320px;
}

.page-footer {
  border-style: none;
  border-color: transparent;
  background: #FFFFFF image-url("blizzard.jpg") repeat left top;
}

.page-footer-info-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer-text-container {
  color: #7F7F7F;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  word-wrap: break-word;
  margin-right: 25px;
  margin-left: 155px;
}

.page-footer-image-container {
  overflow: hidden;
  width: 140px;
  float: left;
}

.page-footer-image-container > a > img {
  height: 185px;
}

.page-footer-text-container > p {
  margin: 0;
}

.page-footer-text-container > a > h2 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 16px;
  padding-bottom: 6px;
  /*line-height: 19px;*/
  font-weight: 900;
  margin: 0px;
  min-height: 45px;
}

.page-footer-text-container > a:hover {
  text-decoration: none;
}

.to-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.padding-topbottom-50 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.more-bottom-padding-100 {
  padding-bottom: 100px;
}

#flash_notice {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
/* SLIDESHOW */

.carousel.container {
  height: 403px;
}
.slide-images {
  width: 100%;
}

.carousel-inner {
  max-height: 400px !important;
}

.carousel-inner > .item > img {
  /*width: 110%;
  max-width: 110%;
  margin-left: -80px;*/
}

.carousel-inner .item {
  max-height: 400px !important;
}

.carousel-caption {
  /*left: 0 !important;
  right: 0 !important;*/
  /*padding-bottom: 120px;*/
}

.carousel-caption a {
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 600;
}

.carousel-caption a:hover {
  text-decoration: none;
}

.you-emphasis {
  /*font-weight: 600;*/
  font-size: 48px;
}

/*.you-know-phrase {
  line-height: 50px;
}*/

.carousel-control .glyphicon {
  font-size: 60px;
}

.carousel-control .glyphicon-circle-arrow-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 60px;
}

.carousel-control .glyphicon-circle-arrow-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 60px;
  right: 50%;
}

@media screen and (max-width: 568px) {
  .carousel-caption a {
    font-size:20px;
    }
}

/* PROGRAMMES */

.programme-container {
  min-height: 150px;
  overflow: hidden;
}

.subprogramme-container {
  /*padding-right: 50px;*/
}

.programme-title {
  /*text-align: center;*/
  color: #273451;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

.programme-subtitle {
  color: #273451;
  font-family: 'Roboto', sans-serif;
  /*font-size: 20px;*/
  font-weight: 400;
  font-size: 16px;
}

.programme-option {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  /*padding-top: 10px;*/
  top: 10px;
}

.programme-option > a {
  text-decoration: none;
}

.programme-border-left {
  border-left-style: solid;
  border-color: #B6B5B5;
  border-width: thin;
  /*min-height: 260px;*/
  padding-top: 20px;
}

.programme-border-right {
  border-right-style: solid;
  border-color: #B6B5B5;
  border-width: thin;
  /*min-height: 260px;*/
  padding-top: 20px;
}

.glyphicon-plus-sign {
  font-size: 30px;
  color: #D3BB69;
}

.glyphicon-plus-sign:hover {
  font-size: 30px;
  color: #AE9029;
  cursor: pointer;
}

.glyphicon-minus-sign {
  font-size: 30px;
  color: #D3BB69;
}

.glyphicon-minus-sign:hover {
  font-size: 30px;
  color: #AE9029;
  cursor: pointer;
}

.programme-minus {
  display: none;
  padding-bottom: 20px;
}

.programme-plus {
  padding-bottom: 20px;
}

.with-left-border {
  border-left-style: solid;
  border-color: #D5D5D5;
}

.programme-box {
  width: 211px;
  background: #000B1A url("../images/u4315-grad.png") repeat-x left top;
  background: -webkit-gradient(linear, center top, center bottom, from(#273451),color-stop(100%, #000B1A));
  background: -webkit-linear-gradient(top,#273451 ,#000B1A 100%);
  background: -moz-linear-gradient(top,#273451 ,#000B1A 100%);
  background: -ms-linear-gradient(top,#273451 ,#000B1A 100%);
  background: -o-linear-gradient(top,#273451 ,#000B1A 100%);
  background: linear-gradient(to bottom,#273451 ,#000B1A 100%);
  border-style: none;
  border-color: transparent;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  position: relative;
  padding: 7px;
  right: 20px;
  top: 20px;
}

.hover-gold:hover {
  color: #D3BB69;
  /*cursor: default;*/
}

.hover-gold:hover > a {
  text-decoration: none;
}

.hover-gold:hover > a > .programme-subheader {
  color: #D3BB69;
}

.hover-gold:hover > a > .programme-subsubheader {
  color: #D3BB69;
}

.programme-header {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-top: 10px;
  /*font-size: 18px;*/
  letter-spacing: 1px;
  /*font-weight: 700;*/
}

.programme-header > span {
  /*font-family: 'Roboto', sans-serif;*/
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  border-width: 1px;
  border-style: solid;
  border-color: #D3BB69;
  background-color: #001737;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

.without-padding-left-or-right {
  /*padding-left: 0px;*/
  padding-right: 0px;
}

.programme-subheader {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
  font-weight: 600;
  /*text-align: center;*/
  padding-left: 15px;
  color: #273451;
  text-decoration: none;
}

.programme-subsubheader {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  /*text-align: center;*/
  padding-left: 15px;
  /*padding-bottom: 20px;*/
  font-size: 13px;
  color: #273451;
  text-decoration: none;
}

.programme-text {
  display: none;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 5px;
  padding-left: 15px;
  /*padding-right: 15px;*/
  font-weight: 300;
  font-size: 16px;
}

.programme-text > ul {
  list-style: none;
  padding-left: 0px;
  -webkit-padding-start: 0px;
}

.programme-text > ul > li {
  margin-left: 0px;
}

.single-programme-row {
  padding-top: 5px;
  top: 5px;
  text-align: left;
  color: #273451;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /*padding-bottom: 20px;*/
  margin-right: 0px;
}

.programme-show-with-plus {
  display: none;
}

/* PARTNERS */

.no-padding {
  padding: 0;
}

.s-container {
  margin-top: 20px;
  /*padding-bottom: 20px;*/
}

.partners-images-container > div > .container {
  padding-right: 0px;
}

.programme-container {
  background: #FFFFFF image-url("blizzard.jpg") repeat left top;
}

.partners-container {
  background: #FFFFFF image-url("blizzard.jpg") repeat left top;
}

.partners-container table {
  width: 100%;
}

.table-responsive > table > tbody > tr > td {
  text-align: center;
}

.partners-title-container {
  padding-bottom: 24px;
  /*padding-top: 24px;*/
  font-family: 'Roboto', sans-serif;
  color: #273451;
}

.partners-images-row {
  display: table;
  table-layout: fixed;
  height:100px;
  padding-bottom: 20px;
  width: 100%;
}

.partners-images-row > div {
  display: table-cell;
  height:100%;
  width: 100%;
  text-align: center;
}

#partners-first-logo {
  display: table-cell;
  height: 100%;
  text-align: left;
  width: 80px;
}

#partners-first-logo > a > .partners-image {
  width: 80px;
}

#partners-first-logo > a > .partners-image.coca {
  min-width: 80px;
}

#partners-last-logo {
  display: table-cell;
  height: 100%;
  text-align: right;
  /*width: 90px;*/
}

#partners-last-logo > a > .partners-image {
  width: 90px;
}

#partners-last-logo > a > .partners-image.natura {
  min-width: 90px;
}

.partners-images-row > div > a > img {
  /*max-height: 90px;*/
  max-width: 100%;
}

.partners-title {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

.partners-subtitle {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}

.partners-image {
  display: inline-block;
  padding: 2px;
  height: 86px;
  /*width: 100%;*/
}

.partners-image {
  width: 100%;
  /*height: 100%;*/
  overflow: hidden;
  border-color: #000000;
  position: relative;
  background-size: contain !important;
}
.partners-images-row {
  width: 100%;
}

.partners-logos-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.partners-logos-container li {
  list-style: none;
  text-align: center;
  flex-grow: 1;
}

/*.logo-container {
  border: 1px solid black;
}*/

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


.partners-image.google {
  background:transparent image-url('google.png') center no-repeat;
  min-width: 100px;
}

.partners-image.google:hover {
  background:transparent image-url('google-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.itau {
  background:transparent image-url('itau.png') center no-repeat;
  min-width: 100px;
}

.partners-image.itau:hover {
  background:transparent image-url('itau-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.park-hyatt {
  background:transparent image-url('park-hyatt.png') center no-repeat;
  min-width: 100px;
}

.partners-image.park-hyatt:hover {
  background:transparent image-url('park-hyatt-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.adidas {
  background:transparent image-url('adidas.png') center no-repeat;
  min-width: 100px;
}

.partners-image.adidas:hover {
  background:transparent image-url('adidas-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.exxon {
  background:transparent image-url('exxon.png') center no-repeat;
  min-width: 100px;
  /*margin-left: -10px;*/
}

.partners-image.exxon:hover {
  background:transparent image-url('exxon-hover.png') center no-repeat;
  min-width: 100px;
  /*margin-left: -10px;*/
}

.partners-image.petrobras {
  background:transparent image-url('petrobras.png') center no-repeat;
  min-width: 100px;
}

.partners-image.petrobras:hover {
  background:transparent image-url('petrobras-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.visa {
  background:transparent image-url('visa.png') center no-repeat;
  min-width: 100px;
}

.partners-image.visa:hover {
  background:transparent image-url('visa-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.nestle {
  background:transparent image-url('nestle-thumb.png') center no-repeat;
  min-width: 100px;
  /*margin-left: 20px;*/
}

.partners-image.nestle:hover {
  background:transparent image-url('nestle-thumb-hover.png') center no-repeat;
  min-width: 100px;
  /*margin-left: 20px;*/
}

.partners-image.coca {
  background:transparent image-url('coca_cola.png') center no-repeat;
  min-width: 100px;
}

.partners-image.coca:hover {
  background:transparent image-url('coca_cola-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.banco-de-chile {
  background:transparent image-url('banco_de_chile.png') center no-repeat;
  min-width: 100px;
}

.partners-image.banco-de-chile:hover {
  background:transparent image-url('banco_de_chile-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.johnsons {
  background:transparent image-url('johnsons.png') center no-repeat;
  min-width: 100px;
  /*margin-right: 10px;*/
}

.partners-image.johnsons:hover {
  background:transparent image-url('johnsons-hover.png') center no-repeat;
  min-width: 100px;
  /*margin-right: 10px;*/
}

.partners-image.natura {
  background:transparent image-url('natura.jpg') center no-repeat;
  min-width: 100px;
}

.partners-image.natura:hover {
  background:transparent image-url('natura-hover.jpg') center no-repeat;
  min-width: 100px;
}


/* FOOTER */
.footer-container {
  background: #000B1A url("u374-grad.png") repeat-x left top;
  background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #273451),to(#000B1A));
  background: -webkit-linear-gradient(top,#273451 30%,#000B1A );
  background: -moz-linear-gradient(top,#273451 30%,#000B1A );
  background: -ms-linear-gradient(top,#273451 30%,#000B1A );
  background: -o-linear-gradient(top,#273451 30%,#000B1A );
  background: linear-gradient(to bottom,#273451 30%,#000B1A );
}

.footer-inner-container {
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-inner-column > .pull-right {
  padding-top: 50px;
}

.gold-color {
  color: #D3BB69;
}

.inner-footer-link {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #B6B5B5;
  display: block;
}

.inner-footer-link:hover {
  color: white;
  text-decoration: none;
}

.footer-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.inner-footer-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.after-title:after {
  position: absolute;
  width: 80%;
  border-bottom-style: solid;
  border-bottom-color: #D3BB69;
  border-bottom-width: thin;
}

.inner-footer-content {
  padding-top: 10px;
}

.border-9 img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.inner-footer-title-smaller-font {
  font-size: 15px;
}

.smaller-font {
  font-size: 20px;
}

.follow-title {
  color: #D3BB69;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-align: right;
}

.follow-title > a {
  color: #D3BB69;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-align: right;
}

.follow-title > a:hover {
  text-decoration: none;
}

.footer-logos {
  padding-left: 5px;
}

.follow-logos {
  padding-top: 5px;
}

.follow-logos > a > img {
  max-height: 40px;
  max-width: 40px;
}

.footer-contact-us{
  padding-top: 50px;
}

/* ARTICLES */

.home-single-article-container {
  height: 420px;
}

.articles-title-container {
  font-family: 'Roboto', sans-serif;
  color: #273451;
  padding-top: 4px;
  padding-bottom: 24px;
}
.articles-title {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

.articles-subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

.articles-line {
  height: 38px;
  border-color: #000000;
  background-color: #001737;
}

.more-articles {
  text-align: center;
  padding-bottom: 30px;
}

.articles-selector {
  text-align: center;
}

.articles-selector-container-item {
  border-color: #273451;
  border-style: solid;
  border-width: thin;
}

#article-selector-title {
  background-color: white;
}

#article-selector-title > li > a {
  color: #001737;
  font-size: 16px;
  letter-spacing: 2px;
}

#article-selector-title > li > a:hover {
  background-color: #999999;
  color: #001737;
}

#articles-selector-items {
  background-color: white;
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  min-width: 0px;
}

#articles-selector-items > li {
  border-color: #273451;
  border-style: solid;
  border-width: thin;
  /*padding: 5px;*/
}

#articles-selector-items > li > a {
  color: #001737;
  font-size: 16px;
  letter-spacing: 2px;
}

#articles-selector-items > li > a:hover {
  color: #001737;
  font-size: 16px;
  letter-spacing: 2px;
}

#articles-selector-leadership {
  background-color: white;
}

#articles-selector-leadership > a {
  background-color: white;
}

#articles-selector-leadership:hover {
  background-color: #F7931E;
}

#articles-selector-leadership > a:hover {
  background-color: #F7931E;
}

#articles-selector-focus {
  background-color: white;
}

#articles-selector-focus > a {
  background-color: white;
}

#articles-selector-focus:hover {
  background-color: #29ABE2;
}

#articles-selector-focus > a:hover {
  background-color: #29ABE2;
}

#articles-selector-high-performance {
  background-color: white;
}

#articles-selector-high-performance > a {
  background-color: white;
}

#articles-selector-high-performance:hover {
  background-color: #29ABE2;
}

#articles-selector-high-performance > a:hover {
  background-color: #29ABE2;
}

#articles-selector-quality-of-life {
  background-color: white;
}

#articles-selector-quality-of-life > a {
  background-color: white;
}

#articles-selector-quality-of-life:hover {
  background-color: #29ABE2;
}

#articles-selector-quality-of-life > a:hover {
  background-color: #29ABE2;
}

#articles-selector-human-relationships {
  background-color: white;
}

#articles-selector-human-relationships > a {
  background-color: white;
}

#articles-selector-human-relationships:hover {
  background-color: #D4145A;
}

#articles-selector-human-relationships > a:hover {
  background-color: #D4145A;
}

/* SINGLE ARTICLE */

.home-article-thumb {
  position: relative;
  background-color: black;
  height: 175px;
  width: 100%;
  max-width: 345px;
  overflow: hidden;
}

.home-article-thumb > a > img {
  z-index: 1;
  width: 100%;
  max-width: 345px;
  min-height: 175px;
}

.home-article-thumb:hover > a > img {
  opacity: 0.4;
  /*z-index: 1;
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1); */
}

.home-article-thumb .home-article-hover-frase {
  display: none;
}

.home-article-thumb:hover .home-article-hover-frase {
  position: absolute;
  top: 0px;
  left: 15px;
  text-align: center;
  width: 100%;
  max-width: 345px;
  height: 175px;
  color: lightgrey;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 16%;
}

.home-article-category > .article_square {
  margin-bottom: 2px;
}

.home-article-thumb > .home-article-category {
  position: absolute;
  top: 0px;
  /*left: 15px;*/
  background: rgba(0,0,0,0.5);
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  width: inherit;
  max-width: inherit;
}

.home-article-thumb > .home-article-category > a {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}

.home-article-thumb > .home-article-category > a:hover {
  color: #D3BB69;
  text-decoration: none;
}

.home-article-title {
  padding-top: 18px;
}

.home-article-title a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  /*line-height: 27px;*/
  color: #273451;
}

.home-article-title a:hover {
  text-decoration: none;
}

.home-article-subtitle a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  /*line-height: 27px;*/
  color: #273451;
}

.home-article-subtitle a:hover {
  text-decoration: none;
}

.home-article-author {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #273451;
  /*letter-spacing: 1px;*/
  padding-top: 12px;
  padding-bottom: 6px;
}

.home-article-content {
  color: black;
  text-align: left;
  font-size: 14px;
  /*line-height: 19px;*/
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  /*padding-top: 6px;*/
  padding-bottom: 12px;
}

.articles-container {
  padding-bottom: 30px;
}

.home-article-read-more{
  padding-top: 10px;
}

.home-article-read-more > a{
  color: #D3BB69;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.modal-body {
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}

.modal-content {
  background-color: rgba(255,255,255,0.5);
}
