html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer img{
  height: 100%;
}

.jumbotron p{
  text-align: center;
}

.jumbotron h1{
  text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
  width: auto;
  /*max-width: 680px;*/
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}



/* HEADER */

.header-container {
  min-height: 136px;
  background: #273451 url("../images/u4774-grad.png") repeat-x left top;
  background: -webkit-gradient(linear, center top, center bottom, from(#000B1A),color-stop(80%, #273451));
  background: -webkit-linear-gradient(top,#000B1A ,#273451 80%);
  background: -moz-linear-gradient(top,#000B1A ,#273451 80%);
  background: -ms-linear-gradient(top,#000B1A ,#273451 80%);
  background: -o-linear-gradient(top,#000B1A ,#273451 80%);
  background: linear-gradient(to bottom,#000B1A ,#273451 80%);
  border-style: none;
  border-color: transparent;
  position: relative;
}

.header-main-row {
  min-height: 136px;
}

.image-row {
 min-height: 136px;
}

.image-row a {
  line-height: 136px;
}

.image-row img {
 padding-top: 15px;
}

.teaching-phrase {
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: 2px;
  color: #D3BB69;
  min-height: 45px;
  line-height: 45px;
  position: relative;
  width: 100%;
}
.countries-header {
  min-height: 45px;
  line-height: 45px;
  color: white;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-weight: 300;
}

.teaching-phrase-location {
  position: absolute;
  top: 10px;
  right: 0px;
}

/* LANGUAGES */

.languages-row {
  padding-top: 10px;
}

/* NAVBAR */

.navbar {
  background: #FFFFFF url("blizzard.jpg") repeat left top;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

#my-affix {
  background-color: white;
  margin-bottom: 0px;
  /*border-width: 0px;*/
}

.affix-top > .container-fluid > .navbar-header {
  display: none;
}

.affix > .container-fluid > .navbar-header {
  display: block;
  height: 40px;
}

.affix > .container-fluid > .navbar-header img{
  height: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
}

.icon-bar {
  background-color: #cccccc;
}

.navbar-toggle {
  border-color: #dddddd;
}

.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.navbar-nav a{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #273451;
  text-align: left;
  font-weight: 700;
}

.navbar-title-smallcaps {
  font-size: 85%;
}

.nav>li>a:hover {
  background-color: #001737;
  color: #D3BB69;
}

.nav>li>a:focus {
  background-color: #001737 !important;
  color: #D3BB69;
}

.navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 0px;
  margin-bottom: -5px;
}

.navbar:not(.affix){
  border:0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

 .dropdown > ul {
  background-color: #273451;
  min-height: 180px;
  min-width: 450px;
  padding-top: 20px;
  text-align: left;
 }


.dropdown > ul > li {
  color: #AE9029;
 }

 .dropdown > ul > li > a.gold-title {
  color: #AE9029;
  font-size: 13px;
 }

 .dropdown > ul > li > a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
 }

 .dropdown > ul > li > a:hover {
  background-color: #273451;
  color: #AE9029;
 }

 .dropdown > ul > li > div > ul > li > a.gold-title {
  color: #AE9029;
  font-size: 13px;
 }

 .dropdown > ul > li > div > ul > li {
  color: #AE9029;
 }

 .dropdown > ul > li > div > ul > li > a.gold-title {
  color: #AE9029;
  font-size: 13px;
 }

 .dropdown > ul > li > div > ul > li > a{
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
  padding: 3px 20px;
 }

 .dropdown > ul > li > div > ul > li > a:hover {
  background-color: #273451;
  color: #AE9029;
  text-decoration: none;
 }

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;}

/* GENERAL TITLES AND SUBTITLES */

.home-section-title {
  color: #273451;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}

.home-section-subtitle {
  color: #4B4C85;
  font-family: 'Open Sans', sans-serif;
  /*font-size: 20px;*/
  font-weight: 400;
  letter-spacing: 1px; 
  font-size: 16px;  
}

.page-title-container {
  background-size: 100%;
  min-height: 263px;
}

.page-header-title {
  line-height: 29px;
  color: #D3BB69;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-top: 40px;
}

.page-header-subtitle {
  font-size: 16px;
  line-height: 23px;
  color: #E9E6E6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-top: 10px;
  text-align: left;
}

.page-header-subtitle > h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #E9E6E6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.page-header-subtitle > p {
  margin-bottom: 0px;
}

.page-title {
  color: #273451;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  padding-top: 20px;
}

.page-subtitle {
  color: #4B4C85;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}

.page-main-body {
  padding-top: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.page-main-body > h5 {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 0px;
}

.page-main-body > ul {
  padding-left: 15px;
}

.page-link-button {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.page-link-button > span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  border-width: 1px;
  border-style: solid;
  border-color: #D3BB69;
  background-color: #001737;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

.page-link-button > span > a {
  color: white;
}

.page-link-button > span > a:hover {
  color: #D3BB69;
  text-decoration: none;
}

.sidebar-presentation-video {
  padding-bottom: 50px;
}

.sidebar-facts > img {
  width: 320px;
  height: 320px;
}

.page-footer {
  border-style: none;
  border-color: transparent;
  background: #FFFFFF url("blizzard.jpg") repeat left top;
}

.page-footer-info-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer-text-container {
  color: #7F7F7F; 
  line-height: 14px;
}

.page-footer-image-container {
  overflow: hidden;
}

.page-footer-text-container > h2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700; 
  margin: 0px; 
  min-height: 45px;
}

.to-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.padding-topbottom-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#flash_notice {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
/* SLIDESHOW */

.carousel.container {
  height: 403px;
}
.slide-images {
  width: 100%;
}

.carousel-inner {
  max-height: 400px !important;
}

.carousel-inner .item {
  max-height: 400px !important; 
}

.carousel-caption {
  left: 0 !important;
  right: 0 !important;
}

.carousel-caption a {
  color: white;
  font-family: 'Lato', 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 400;
}

.carousel-caption a:hover {
  text-decoration: none;
}

.you-emphasis {
  /*font-weight: 600;*/
  font-size: 48px;
}

.carousel-control .glyphicon {
  font-size: 60px;
}

.carousel-control .glyphicon-circle-arrow-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 60px;
}

.carousel-control .glyphicon-circle-arrow-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 60px;
  right: 50%;
}

@media screen and (max-width: 568px) {
  .carousel-caption a {
    font-size:20px;
    }
}

/* PROGRAMMES */

.programme-container {
  min-height: 225px;
  overflow: hidden;
}

.subprogramme-container {
  padding-right: 50px;
}

.programme-title {
  /*text-align: center;*/
  color: #273451;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

.programme-subtitle {
  color: #273451;
  font-family: 'Open Sans', sans-serif;
  /*font-size: 20px;*/
  font-weight: 400; 
  font-size: 16px;
}

.programme-option {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  /*padding-top: 10px;*/
  top: 10px;
}

.programme-border-left {
  border-left-style: solid;
  border-color: #B6B5B5;
  border-width: thin;
  min-height: 260px;
  padding-top: 20px;
}

.programme-border-right {
  border-right-style: solid;
  border-color: #B6B5B5;
  border-width: thin;
  min-height: 260px;
  padding-top: 20px;
}

.glyphicon-plus-sign {
  font-size: 30px;
  color: #D3BB69;
}

.glyphicon-plus-sign:hover {
  font-size: 30px;
  color: #AE9029;
  cursor: pointer;
}

.with-left-border {
  border-left-style: solid;
  border-color: #D5D5D5;
}

.programme-box {
  width: 211px;
  background: #000B1A url("../images/u4315-grad.png") repeat-x left top;
  background: -webkit-gradient(linear, center top, center bottom, from(#273451),color-stop(100%, #000B1A));
  background: -webkit-linear-gradient(top,#273451 ,#000B1A 100%);
  background: -moz-linear-gradient(top,#273451 ,#000B1A 100%);
  background: -ms-linear-gradient(top,#273451 ,#000B1A 100%);
  background: -o-linear-gradient(top,#273451 ,#000B1A 100%);
  background: linear-gradient(to bottom,#273451 ,#000B1A 100%);
  border-style: none;
  border-color: transparent;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  position: relative;
  padding: 7px;
  right: 20px;
  top: 20px;
}

.hover-gold:hover {
  color: #D3BB69;
  cursor: default;
}

.programme-header {
  font-family: 'Lato', 'Open Sans', sans-serif;
  color: white;
  /*font-size: 18px;*/
  letter-spacing: 1px;
  /*font-weight: 700;*/
}

.programme-header > span {
  /*font-family: 'Open Sans', sans-serif;*/
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  border-width: 1px;
  border-style: solid;
  border-color: #D3BB69;
  background-color: #001737;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

.without-padding-left-or-right {
  padding-left: 0px;
  padding-right: 0px;
}

.programme-subheader {
  font-family: 'Lato', 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.programme-subsubheader {
  font-family: 'Lato', 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
  font-size: 12px;
}

.programme-text {
  font-family: 'Lato', 'Open Sans Condensed', sans-serif;
  padding-top: 5px;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
}

.programme-text > ul {
  list-style: none;
  padding-left: 0px;
  -webkit-padding-start: 0px;
}

.programme-text > ul > li {
  margin-left: 0px;
}

.single-programme-row {
  padding-top: 5px;
  top: 5px;
  text-align: left;
  color: #273451;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}

.programme-show-with-plus {
  display: none;
}

/* PARTNERS */

.no-padding {
  padding: 0;
}

.partners-images-container {
  margin-top: 7px;
  padding-bottom: 20px;
}

.programme-container {
  background: #FFFFFF url("blizzard.jpg") repeat left top;
}

.partners-container {
  background: #FFFFFF url("blizzard.jpg") repeat left top;
}

.partners-container table {
  width: 100%;
}

.partners-title-container {
  padding-bottom: 5px;
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #273451;
}

.partners-title {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700; 
}

.partners-subtitle {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400; 
}

.partners-image {
  display: inline-block;
  padding: 2px;
  height: 86px;
  /*width: 100%;*/
}

.partners-image.google {
  background:transparent url('google.png') center no-repeat;
  min-width: 130px;
}

.partners-image.google:hover {
  background:transparent url('google-hover.png') center no-repeat;
  min-width: 130px;
}

.partners-image.itau {
  background:transparent url('itau.png') center no-repeat;
  min-width: 100px;
}

.partners-image.itau:hover {
  background:transparent url('itau-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.park-hyatt {
  background:transparent url('park-hyatt.png') center no-repeat;
  min-width: 100px;
}

.partners-image.park-hyatt:hover {
  background:transparent url('park-hyatt-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.adidas {
  background:transparent url('adidas.png') center no-repeat;
  min-width: 100px;
}

.partners-image.adidas:hover {
  background:transparent url('adidas-hover.png') center no-repeat;
  min-width: 100px;
}

.partners-image.exxon {
  background:transparent url('exxon.png') center no-repeat;
  min-width: 180px;
}

.partners-image.exxon:hover {
  background:transparent url('exxon-hover.png') center no-repeat;
  min-width: 180px;
}

.partners-image.petrobras {
  background:transparent url('petrobras.png') center no-repeat;
  min-width: 120px;
}

.partners-image.petrobras:hover {
  background:transparent url('petrobras-hover.png') center no-repeat;
  min-width: 120px;
}

.partners-image.visa {
  background:transparent url('visa.png') center no-repeat;
  min-width: 100px;
}

.partners-image.visa:hover {
  background:transparent url('visa-hover.png') center no-repeat;
  min-width: 100px;
}

/* FOOTER */
.footer-container {
  background: #000B1A url("u374-grad.png") repeat-x left top;
  background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #273451),to(#000B1A));
  background: -webkit-linear-gradient(top,#273451 30%,#000B1A );
  background: -moz-linear-gradient(top,#273451 30%,#000B1A );
  background: -ms-linear-gradient(top,#273451 30%,#000B1A );
  background: -o-linear-gradient(top,#273451 30%,#000B1A );
  background: linear-gradient(to bottom,#273451 30%,#000B1A );
}

.footer-inner-container {
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-inner-column > .pull-right {
  padding-top: 50px;
}

.gold-color {
  color: #D3BB69;
}

.inner-footer-link {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #B6B5B5;
  display: block; 
}

.inner-footer-link:hover {
  color: white;
  text-decoration: none;
}

.footer-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  font-size: 24px;
  padding-bottom: 20px;
}

.inner-footer-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  font-size: 18px;
}

.after-title:after {
  position: absolute;
  width: 80%;
  border-bottom-style: solid;
  border-bottom-color: #D3BB69;
  border-bottom-width: thin;
}

.inner-footer-content {
  padding-top: 10px;
}

.border-9 img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.inner-footer-title-smaller-font {
  font-size: 15px;
}

.smaller-font {
  font-size: 20px;
}

.follow-title {
  color: #D3BB69;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  text-align: right;
}

.follow-title > a {
  color: #D3BB69;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  text-align: right;
}

.follow-title > a:hover {
  text-decoration: none;
}

.footer-logos {
  padding-left: 5px;
}

.follow-logos {
  padding-top: 5px;
}

.follow-logos > a > img {
  max-height: 40px;
  max-width: 40px;
}

/* ARTICLES */

.articles-title-container {
  font-family: 'Open Sans', sans-serif;
  color: #273451;
  padding-top: 20px;
  padding-bottom: 50px;
}
.articles-title {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700; 
}

.articles-subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;  
}

.articles-line {
  height: 38px;
  border-color: #000000;
  background-color: #001737;
}

.more-articles {
  text-align: center;
}

.articles-selector {
  text-align: center;
}

.articles-selector-container-item {
  border-color: #273451;
  border-style: solid;
  border-width: thin;
}

#article-selector-title {
  background-color: white;
}

#article-selector-title > li > a {
  color: #001737;
  font-size: 16px;
  letter-spacing: 2px;
}

#article-selector-title > li > a:hover {
  background-color: #999999;
  color: #001737;
}

#articles-selector-items {
  background-color: white;
  margin: 0px;
  padding: 0px; 
  width: 100%;
  text-align: center;
  min-width: 0px;
}

#articles-selector-items > li {
  border-color: #273451;
  border-style: solid;
  border-width: thin;
  /*padding: 5px;*/
}

#articles-selector-items > li > a {
  color: #001737;
  font-size: 16px;
  letter-spacing: 2px;
}

#articles-selector-items > li > a:hover {
  color: #001737;
  font-size: 16px;
  letter-spacing: 2px;
}

#articles-selector-leadership {
  background-color: white;
}

#articles-selector-leadership > a {
  background-color: white;
}

#articles-selector-leadership:hover {
  background-color: #F7931E;
}

#articles-selector-leadership > a:hover {
  background-color: #F7931E;
}

#articles-selector-focus {
  background-color: white;
}

#articles-selector-focus > a {
  background-color: white;
}

#articles-selector-focus:hover {
  background-color: #29ABE2;
}

#articles-selector-focus > a:hover {
  background-color: #29ABE2;
}

#articles-selector-high-performance {
  background-color: white;
}

#articles-selector-high-performance > a {
  background-color: white;
}

#articles-selector-high-performance:hover {
  background-color: #29ABE2;
}

#articles-selector-high-performance > a:hover {
  background-color: #29ABE2;
}

#articles-selector-quality-of-life {
  background-color: white;
}

#articles-selector-quality-of-life > a {
  background-color: white;
}

#articles-selector-quality-of-life:hover {
  background-color: #29ABE2;
}

#articles-selector-quality-of-life > a:hover {
  background-color: #29ABE2;
}

#articles-selector-human-relationships {
  background-color: white;
}

#articles-selector-human-relationships > a {
  background-color: white;
}

#articles-selector-human-relationships:hover {
  background-color: #D4145A;
}

#articles-selector-human-relationships > a:hover {
  background-color: #D4145A;
}

/* SINGLE ARTICLE */

.home-article-thumb {
  background-color: black;
}

.home-article-thumb > img {
  z-index: 1;
  width: 100%;
  height: 175px;
}

.home-article-thumb:hover > img {
  opacity: 0.4;
  /*z-index: 1;
  filter: url(filters.svg#grayscale); 
  filter: gray; 
  -webkit-filter: grayscale(1); */
}

.home-article-thumb > .home-article-hover-frase {
  display: none;
}

.home-article-thumb:hover > .home-article-hover-frase {
  position: absolute;
  top: 25%;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: lightgrey;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.home-article-thumb > .home-article-category {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(0,0,0,0.5);
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

.home-article-thumb > .home-article-category > a {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}

.home-article-thumb > .home-article-category > a:hover {
  color: #D3BB69;
  text-decoration: none;
}

.home-article-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #273451;
}

.home-article-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #273451;
}

.home-article-author {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #273451; 
  letter-spacing: 1px;
}

.home-article-content {
  color: black;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.articles-container {
  padding-bottom: 30px;
}

.home-article-read-more{
  padding-top: 10px;
}

.home-article-read-more > a{
  color: #D3BB69;
}