.individual-with-personal-background-header {
   background-image: url('individual_personal_header.jpg');
  background-position: 0% 45%;
}

.individual-with-training-background-header {
   background-image: url('individual_training_header.png');
  background-position: 0% 45%;
}

.individual-with-consultory-background-header {
   background-image: url('consultants_header.jpg');
  background-position: 0% 45%;
}

.individual-with-intensive-background-header {
   background-image: url('consultants_header.jpg');
  background-position: 0% 45%;
}

.individual-consultory-title {
  line-height: 29px;
  color: #D3BB69;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.individual-consultory-container {
  /*padding-top: 30px;*/
}

.individual-consultory-title-subtitle {
  font-size: 16px;
  line-height: 23px;
  color: #D3BB69;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.individual-sidebar > hr {
  background: #D5D5D5; 
  border: 0; 
  height: 1px;  
  margin-left: -15px;
  margin-right: -15px;
}

#individual-pills > li > a {
  color: #B6B5B5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 1px;
}

#individual-pills > li > a:hover {
  background-color: gray;
}

#individual-pills > li.active > a:hover {
  background-color: gray;
}

#individual-pills > li.active > a {
  background-color: white;
  color: #273451;
  font-weight: 700;
}

#individual-pills > li > p {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.tab-content {
  padding-bottom: 50px;
}

.tab-content > .active > div > div > div > .container > .row > h1 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
} 

.tab-content > .active div > div > div > .container > .row > h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
  color: black;
}

.tab-content > .active div > div > div > .container > .row > p {
  margin: 0px;
  text-align: justify;
  color: black;
}

.individual-sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 0px;
  float: right;
}

.individual-sidebar > div > h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
}

.individual-sidebar > .row {
  margin: 0px;
}

.individual-sidebar-title > h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  color: black;
}

.individual-sidebar-body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 400;
  background-color: #EFEFEF;
  padding: 10px;
  line-height: 16px;
}

.individual-sidebar-body > p {
  margin-bottom: 0px;
}

.individual-sidebar-container {
  padding-bottom: 30px;
}

.individual-sidebar-container > hr {
  background: #273451; 
  border: 0; 
  height: 4px;  
  margin: 0px;
  margin-left: -15px;
  margin-right: -15px;
}

.individual-sidebar-nestle-image > img {
  width: 314px;
  height: 262px;
}

.individual-sidebar-nestle-image > p {
  color: #7F7F7F;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0px;
}

.individual-consultors-sidebar-list {
  list-style: none;
  padding: 0px;
}

.individual-consultors-button-link {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.individual-consultors-button-link > span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #D3BB69;
  background-color: white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

.individual-consultors-button-link > span:hover {
  background-color: #001737;
}

.individual-consultors-button-link > span:hover > a {
  color: #D3BB69;
}

.individual-consultors-button-link > span > a {
  color: #001737;
}

.individual-consultors-button-link > span > a:hover {
  text-decoration: none;
}

.individual-consultors-sidebar-list li {
  display: inline;
  margin-left:auto;
  margin-right:auto;
}

.individual-consultors-sidebar-list > li > a {
  text-decoration: none;
  text-align: center;
}

.individual-consultors-sidebar-list > table > tbody > tr > td > a > img {
  max-width: 60px;
  max-height: 126px;
}

.individual-consultors-sidebar-list > table {
  width: 100%;
}

#empty-space {
  min-height: 200px;
}

.individual-footer-container {
  border-style: none;
  border-color: transparent;
  background: #FFFFFF url("blizzard.jpg") repeat left top;
}

.individual-footer-thumb-info-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.individual-footer-image-container {
  overflow: hidden;
}

.individual-footer-image-container > img {
  position: relative;
  right: 50%;
}

.individual-footer-text-container > h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700; 
  margin: 0px; 
  min-height: 45px;
}

.individual-footer-text-container > p {
  color: #7F7F7F; 
  text-align: justify;
}