<div id="wysihtml5-toolbar">
  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="bold" title="CTRL+B">bold</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="italic" title="CTRL+I">italic</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="underline" title="CTRL+U">underline</a>
  </div>
  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="createLink">link</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="removeLink"><s>link</s></a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="insertImage">image</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">h3</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">p</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="pre">pre</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="formatBlock" data-wysihtml5-command-blank-value="true">plaintext</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="insertBlockQuote">blockquote</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="formatCode" data-wysihtml5-command-value="language-html">Code</a>
  </div>
  
  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="fontSizeStyle">Size</a>
    <div data-wysihtml5-dialog="fontSizeStyle" style="display: none;">
      Size:
      <input data-wysihtml5-dialog-field="size" style="width: 60px;" value="" type="text">
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
  </div>
  
  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="insertUnorderedList">• List</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="insertOrderedList">1. List</a>
  </div>
  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="outdentList">&lt;-</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="indentList">-&gt;</a>
  </div>

  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="alignLeftStyle">alignLeft</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="alignRightStyle">alignRight</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="alignCenterStyle">alignCenter</a>
  </div>

  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="foreColorStyle">Color</a>
    <div data-wysihtml5-dialog="foreColorStyle" style="display: none;">
      Color:
      <input data-wysihtml5-dialog-field="color" value="rgba(0,0,0,1)" type="text">
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
  </div>
  
  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="bgColorStyle">BG Color</a>
    <div data-wysihtml5-dialog="bgColorStyle" style="display: none;">
      Color:
      <input data-wysihtml5-dialog-field="color" value="rgba(0,0,0,1)" type="text">
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
  </div>
  
  <div class="block">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="undo">undo</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="redo">redo</a>
  </div>

  <!--div class="block">
    <a data-wysihtml5-action="showSource">HTML</a>
  </div-->

  <div class="block" data-wysihtml5-hiddentools="table" style="display: none;">
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="mergeTableCells">Merge</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="addTableCells" data-wysihtml5-command-value="above">row-before</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="addTableCells" data-wysihtml5-command-value="below">row-after</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="addTableCells" data-wysihtml5-command-value="before">col-before</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="addTableCells" data-wysihtml5-command-value="after">col-after</a>
  
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="deleteTableCells" data-wysihtml5-command-value="row">delete row</a>
    <a unselectable="on" href="javascript:;" data-wysihtml5-command="deleteTableCells" data-wysihtml5-command-value="column">delete col</a>
  
  </div>


  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
  <div data-wysihtml5-dialog="insertImage" style="display: none;">
    <label>
      Image:
      <input data-wysihtml5-dialog-field="src" value="http://">
    </label>
    <label>
      Align:
      <select data-wysihtml5-dialog-field="className">
        <option value="">default</option>
        <option value="wysiwyg-float-left">left</option>
        <option value="wysiwyg-float-right">right</option>
      </select>
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>

</div>  