<div class="container header-container">
  <div class="row header-main-row">
    <div class="col-md-4 image-row">
      <%= link_to root_path do %>
        <%= image_tag 'logo_mdl.png', class: "center" %>
      <% end %>
    </div>
    <div class="col-md-7">
      <%= render "layouts/languages" %>
      <div class="container">
        <div class="row pull-right teaching-phrase">
          <span class="teaching-phrase-location">TEACHING TOP LEADERS SINCE 1960</span>
        </div>
      </div>
      <div class="container">
        <div class="row pull-right countries-header">
          Paris &#8226; London &#8226; Roma &#8226; New York &#8226; Barcelona &#8226; Buenos Aires &#8226; Lisboa &#8226; 
          Porto &#8226; São Paulo &#8226; Rio
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<%= render "layouts/navbar" %>