<div class="container">
  <div class="row pull-right languages-row">
    <div class="table-responsive">
        <table>
          <tr>
            <td>
              <a href="#" class="languages-image">
                <%= image_tag 'lang_fr.png', class: "center" %>
              </a>
            </td>
            <td>
              <a href="#" class="languages-image">
                <%= image_tag 'lang_usa.png', class: "center" %>
              </a>
            </td>
            <td>
              <a href="#" class="languages-image">
                <%= image_tag 'lang_br.png', class: "center" %>
              </a>
            </td>
            <td>
              <a href="#" class="languages-image">
                <%= image_tag 'lang_ar.png', class: "center" %>
              </a>
            </td>
          </tr>
        </table>
      </div>
  </div>
</div>